/bootstrap/compiled.php
/vendor
composer.phar
/app/config/dev-brad
/app/config/dev-jack
/app/config/dev-taylor
/app/config/dev-brad-laptop
/app/storage/uploads
.env.local.php
.env.php
.DS_Store
Thumbs.db