/* Reset */
* { margin:0; padding:0; outline:0; }

/*
insideout.com
Orange: #A95306
Yellow: #D5A829
Blue: #b5cde0

alternate:
Orange: A95306
Orange2: A97506
Blue: 102A72 4B83B4
Green: 055F67
*/

/* General */
body {
	text-align:left;
	background:#eee;
	background: #eee url('../images/brushed.png') top left;
	font-family: "Open Sans", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #333;
	font-size: 62.5%;
	margin:0px;
	padding:0px;
	height: 100%;
}

a {
	color: #A95306;
}
a:hover {
	color: #4B83B4;
}
ul {
	list-style:none;
}
.clear {
	clear:both;
}
.right {
	float:right;
}
.left {
	float:left;
}
.none {
	display: none;
}

/* Login Form */
#login-box {
	position: absolute;
	top: 20%;
	left: -webkit-calc( 50% - 180px );
	left: -moz-calc( 50% - 180px );
	left: calc( 50% - 180px );
	width:360px;
}
#message {
	border:1px solid rgba(255,102,102,1);
	border-radius:5px;
	padding:10px;
	margin-bottom:10px;
	text-align:center;
	color:rgba(32,32,32,1);
	font-size:1.3em;
	background: rgba(255,102,102,0.1);
}
#message-success {
	border:1px solid rgba(75,131,180,0.9);;
	border-radius:5px;
	padding:10px;
	margin-bottom:10px;
	text-align:center;
	color:rgba(32,32,32,1);
	font-size:1.3em;
	background: rgba(75,131,180,0.1);;
}
#login {
	width:320px;
	border: 1px solid #ddd;
	padding: 20px 20px;
	margin: 0 auto;
	background:#fff;
	box-shadow: 0px 0px 5px #ddd;
	font-size:1.4em;
	color:#333;
}
#login .login-image {
	background: #A95306 url('../images/hawaiian-tile.jpg') top center;
	border-radius: 5px;
}
#login .login-image img {
	margin:0 auto;
	display: block;
	width:290px;
}
#login .field-div {
	margin:10px 0;
	position:relative;
}
#login .field-div label {
	display: block;
	font-size:1.1em;
}
#login .field {
	font-size:1.5em;
	font-weight: 100;
	height:40px;
	width:308px;
	margin:0;
	padding-left:10px;
	background: #fbfbfb;
	border-radius: 5px;
	border:1px solid #ddd;
}
#login .field:active,
#login .field:focus {
	border-color: rgba(75,131,180,0.8);
	box-shadow: 0px 0px 5px rgba(75,131,180,0.8);
}
#login .ss-user,
#login .ss-lock,
#login .ss-mail {
	color: #888;
	font-size:1.8em;
	font-weight: 100;
	position:absolute;
	right:20px;
	top:27px;
}
#login .submit {
	-webkit-appearance: button;
	cursor: pointer;
	color: #fff;
	background-color: rgba(75,131,180,1);
	display: inline-block;
	font-size:1.3em;
	font-weight: 100;
	text-align: center;
	vertical-align: middle;
	border: 1px solid rgba(75,131,180,1);
	white-space: nowrap;
	width:320px;
	height:42px;
	padding: 6px 12px;
	margin: 15px 0 0;
	border-radius: 5px;
}
#login .submit:hover {
	background-color: rgba(75,131,180,0.9);
}
#login #login-submit.field-div{
	margin-bottom:0;
}
#login-subtext {
	padding: 10px 10px 10px 20px;
}
#login-subtext a {
	font-size:1.2em;
	text-decoration: none;
	color:rgba(75,131,180,1);
}
#login-subtext a:hover {
	text-decoration: underline;
}
/* Header */
#header {
	/*background: #A95306 url('../images/hawaiian-tile.jpg') top center;*/
	background: rgba(51,51,51,1);
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:91px;
	z-index:57;
	clear:both;
	box-shadow: 0px 0px 15px 0px #000;
}
.section {
	width: 1400px;
	position:relative;
	margin:0 auto;
}
#header .section {
	/*background: rgba(32,32,32,0.4);*/
}

/* Company Header */
#company-header {
	width:346px;
	height:50px;
	position:absolute;
	top:0px;
	left:0px;
	z-index: 59;
	margin: 5px 0 0;
}
#company-header a.logo img {
	padding: 5px 0 0 0px;
	width: 256px;
	height: auto;
	margin: 0;
	display: block;
}
/* Menu */
#nav_menu {
	z-index:59;
	height:60px;
	margin-top:0px;
	/*width: 850px;*/
	float:right;
}
#menu_header {
	height:60px;
	position:relative;
	margin-left:0px;
	float:left;
}
.menu_nav {
}
#menu_header ul {
	list-style:none;
}
#menu_header ul li {
	float: left;
	font-size:1.2em;
	letter-spacing: 0.0625em;
	color: #eee;
	text-shadow: 1px 1px 1px #333;
	font-weight: bold;
	height:52px;
	width: 80px;
	padding:5px 0 0;
	margin:0px 0px;
	border-left: 1px solid #333;
	border-right: 1px solid #333;
	position:relative;
	text-align:center;
	cursor:pointer;
	z-index: 59;
}
#menu_header ul li span, #menu_header ul li a {
	text-decoration:none;
	cursor:pointer;
	color: #fff;
	display: block;
	text-align:center;
}
#menu_header ul li.active,
#menu_header ul li.active span,
#menu_header ul li.active a {
	text-shadow: 1px 1px 1px #333;
}
#menu_header ul li.active {
	background: rgba(75,131,180,1);
	padding:5px 0;
	margin-top:0px;
	border-left: 1px solid #000;
	border-right: 1px solid #000;
	box-shadow: inset 1px 0px 0px 0px rgba(93,143,187,1),
	inset -1px 0px 0px 0px rgba(93,143,187,1);
}
#menu_header ul li:hover {
	background: rgba(75,131,180,1);
	padding:5px 0;
	margin-top:0px;
	border-left: 1px solid #000;
	border-right: 1px solid #000;
	box-shadow: inset 1px 0px 0px 0px rgba(93,143,187,1),
	inset -1px 0px 0px 0px rgba(93,143,187,1);
}
#menu_header ul li span:hover,
#menu_header ul li a:hover {
	text-shadow: 1px 1px 1px #333;
}
#menu_header ul li span:before, #menu_header ul li a:before {
	font-size:2.2em;
	display:block;
	margin-bottom: -1px;
}
#menu_header ul li span.linked-to {
	position: absolute;
	top: 0px;
	right: 0px;
	padding: 0px 5px;
	background: rgba(169,83,6,1);
	color: #fff;
	text-shadow: 1px 1px 1px #333;
	z-index: 58;
	border-bottom: none;
	border-radius: 10px;
	border: 1px solid #000;
	box-shadow: inset 0px 1px 0px 0px rgba(192,93,7, 1),
	inset 0px -1px 0px 0px rgba(192,93,7, 1);
}
#menu_header ul li#link-profile img {
	display: block;
	width: 35px;
	border-radius: 20px;
	margin:0px auto 1px;
}

/* Sub/Notification Menu */
#sub-menu {
	position: fixed;
	top:60px;
	left:0px;
	width:100%;
	height: 31px;
	z-index:58;
	padding:0;
	background: rgba(75,131,180,1); /*#333;*/
	border-top: 1px solid #000;
	/*border-bottom: 1px solid #fff;*/
	box-shadow: inset 0px 1px 0px 0px rgba(93,143,187,1),
	inset 0px -1px 0px 0px rgba(93,143,187,1);
}
#sub-menu ul.search-menu {
	float:left;
	width: 252px;
}
#sub-menu ul.search-menu li {
	display: inline-block;
	float:left;
	text-align: center;
	width:55px;
	padding:0px 0px 0px 25px;
	margin:0 auto;
	height:30px;
	font-size:1.4em;
	cursor: pointer;
	border-right: 1px solid rgba(93,143,187,1);
	border-left: 1px solid rgba(60,105,144,1);
}
#sub-menu ul.search-menu li:first-child {
	border-left:none;
}
#sub-menu ul.search-menu li:last-child {
	border-right:none;
}
#sub-menu ul.extra-menu {
	float:right;
}
#sub-menu ul.extra-menu li {
	display: inline-block;
	float:left;
	text-align: right;
	padding:0px 10px;
	margin:0px 0px 0px 0px;
	height:30px;
	font-size:1.4em;
	cursor: pointer;
	border-right: 1px solid rgba(93,143,187,1);
	border-left: 1px solid rgba(60,105,144,1);
}
#sub-menu ul.extra-menu li:first-child {
	border-left:none;
}
#sub-menu ul.extra-menu li:last-child {
	border-right:none;
}
#sub-menu ul li.active,
#sub-menu ul li.active a {
	color: #000;
}
#sub-menu ul li.active a {
	border-bottom:2px solid #000;	
}
#sub-menu ul li a {
	height: 20px;
	padding:5px;
	vertical-align: bottom;
	display: inline-block;
	text-decoration: none;
	color: #fff;
	position: relative;
}
#sub-menu ul li a:hover {
	color: #000;
}
#sub-menu span:before {
	text-decoration: none;
	font-size: 1em;
	margin-top: 0px;
	position: absolute;
	left: -14px;
	top: 1px;
	padding:5px 0;
}
/* Search Bar */
#search-box {
	display: none;
	position: fixed;
	top:63px;
	width:252px;
	height: 25px;
	z-index:58;
	background: rgba(75,131,180,1);
}
#search-box .search-input {
	width:252px;
}
#search-box input.search {
	position: absolute;
	left:0px;
	width: 240px;
	padding: 5px;
	border-radius: 5px;
	border: 1px solid rgba(68,118,162,1);
	font-size: 1.2em;
}
/*#search-box .ss-search {
	position: absolute;
	right:215px;
	padding-top:3px;
	font-size:2em;
	color:#fff;
	cursor: pointer;
}*/
#search-box .ss-delete {
	position: absolute;
	left:255px;
	padding-top:3px;
	font-size:2em;
	color:#fff;
	cursor: pointer;
}
/* Loading Page */
.loading_page {
	margin:0 auto;
	border: 1px solid #ddd;
	box-shadow: 1px 1px 1px #bbb;
	border-radius:5px;
	background: #fff;
	padding: 5px;
	width:210px;
	text-align:center;
	font-size:1.3em;
}

/* Sidebar */
#side {
	font-size: 1.2em;
	margin:0 auto;
	position:relative;
	z-index:55;
}
#sidebar {
	position:fixed;
	top: 0px;
	text-align:left;
	font-size: 1.2em;
	width:250px;
	margin:0px 0;
	padding:0;
	z-index:55;
	background: #333;
	background: #333 url('../images/black-Linen.png') top left;
	height: 100%;
	box-shadow: inset 1px 0px 0px 0px #555,
	inset -1px 0px 0px 0px #555;
	/*0px 0px 10px 0px #333;*/
}
#welcome-user {
	width:250px;
	margin-top:103px;
}
#welcome-user .section {
	width:250px;
}
#welcome-user a {
	color: #fff;
}
#welcome-user ul#welcome-name {
	width:250px;
	display: inline-block;
}
#welcome-user ul#welcome-name li {
	color: #fff;
	text-align:center;
	width:252px;
	font-size:1.2em;
	cursor: default;
}
#welcome-user ul#welcome-name li a {
	text-decoration: none;
	font-size: 0.8em;
	padding: 0 5px;
}
/* ToDo */
#todo-box {
	clear:both;
	width:250px;
	margin-top:17px;
	position:relative;
	font-size:1.2em;
	letter-spacing: 0.0625em;
	color: #333;
	font-weight: 100;
	padding:0;
	position:relative;
	text-align:left;
}
#todo-box .todo-sub-box {
	margin-bottom:5px;
	border-top: 1px solid #000;
	border-bottom: 1px solid #000;
	box-shadow: inset 0px 1px 0px 0px #555,
	inset 0px -1px 0px 0px #555;
}
#todo-box .todo-feed-title {
	text-decoration:none;
	background: #333;
	margin: 0 0 0px 0px;
	padding: 5px 0 5px;
	display:block;
	width:267px;
	color: #fff;
	font-weight:100;
	position:relative;
}
#todo-box .todo-feed-title.active {
	padding: 5px 0 5px;
}
#todo-box .todo-feed-title span.ss-check:before,
#todo-box .todo-feed-title span.ss-briefcase:before,
#todo-box .todo-feed-title span.ss-list:before {
	padding:0 10px 0 25px;
}
#todo-box .todo-feed-title:after {
 content: "";
 position: absolute;
 display: block;
 border-style: solid;
 border-color: #555 transparent transparent transparent;
 bottom: -1em;
}
#todo-box .todo-feed-title:after {
 right: 0;
 border-width: 1em 1em 0 0;
}
#todo-box #projects-feed,
#todo-box #leads-feed {
	display:none;
}
#todo-box .todo-feed {
	background:#fff;
	padding:15px;
	margin-top:0px;
	border: 1px solid #ddd;
}
#todo-box span.todo-num {
	background: rgba(169,83,6, 1); /*rgba(169,83,6, 0.9);*//*rgba(75,131,180,0.9);*/
	padding: 2px 15px 2px;
	margin: 4px 0;
	font-size: 0.8em;
	font-weight:100;
	color: #fff;
	text-shadow: 1px 1px 1px #333;
	position: absolute;
	right:25px;
	top:0px;
	border-radius: 20px;
	border: 1px solid #000;
	box-shadow: inset 0px 1px 0px 0px rgba(192,93,7, 1),
	inset 0px -1px 0px 0px rgba(192,93,7, 1);
}
#todo-box .ss-dropdown:before,
#todo-box .ss-directleft:before {
	position: absolute;
	right:3px;
	top:7px;
}
#todo-box a {
	color: #333;
}
#todo-box ul {
	list-style:none;
	font-size: 0.8em;
}
#todo-box ul li {
	text-align:left;
}
#todo-box ul li a {
	text-decoration:none;
	/*color: rgba(75,131,180,0.9) !important;*/
	/*color: rgba(75,131,180,1) !important;*/
	font-weight: 500;
	/*color: #81A8CA !important;*/
	/*text-shadow: 1px 1px 1px #000;*/
}
#todo-box ul li a:hover {
	text-decoration:underline;
}
#todo-box ul li span {
	display:block;
	font-size: 0.8em;
	color: #bbb;
}
#todo-box ul li .view-all {
	text-align:right;
	display:block;
}

/* Page */
#page {
	font-size: 1.2em;
	width:100%;
	margin: 105px 0 10px;
}
#message-box,
#message-box-json {
	position: fixed;
	top:64px;
	right:0px;
	width:100%;
	z-index:58;
	font-size: 1.5em;
}
#message-box .action-message,
#message-box-json .action-message {
	margin:0px 0 0 285px;
	padding:2px;
	color:#fff;
	background: #fff;
}
#message-box .action-message span,
#message-box-json .action-message span {
	background:none;
}
#message-box .action-message .ss-check,
#message-box-json .action-message .ss-check,
#message-box .action-message .flash-message-success,
#message-box-json .action-message .flash-message-success {
	color: rgba(0,179,0,1);
	text-shadow:1px 1px 1px #fff;
	padding:4px;
}
#message-box .action-message .ss-alert,
#message-box-json .action-message .ss-alert,
#message-box .action-message .flash-message-error,
#message-box-json .action-message .flash-message-error {
	color: rgba(204,0,0,1);
	text-shadow:1px 1px 1px #fff;
	padding:4px;
}
/* Page Content */
#content {
	width: 1115px;
	margin:0 0 20px 265px;
	padding: 0 0 0 20px;
	font-size: 1.2em;
	/*background: #fff;*/
	/*margin:20px 0;*/
/*	box-shadow: 1px 2px 8px #aaa;*/
	position: relative;
	/*box-shadow: 0px 0px 18px #777;*/
}
#content h2 {
	font-size: 2em;
	line-height: 1em;
	font-weight: 100;
	padding:0 0px 10px;
	margin:0;
	color: #333;
	/*border-bottom: 1px solid rgba(32,32,32,0.4);*/
}
#content h3 {
	padding-top:0px;
	margin:5px 0;
}
#content p {
	margin:10px 0;
}
#content button,
#content .button,
#content span.cancel,
#content input[type=submit] {
	cursor: pointer;
	color: #fff;
	display: inline-block;
	margin-bottom: 0;
	font-weight: 500;
	text-align: center;
	vertical-align: middle;
	white-space: nowrap;
	padding: 3px 6px;
	font-size:0.9em;
	border-radius: 5px;
	text-decoration:none;
	background-color: rgba(75,131,180,1);
	border: 1px solid rgba(75,131,180,1);
	box-shadow: inset 0px 1px 0px 0px rgba(93,143,187,1),
	inset 0px -1px 0px 0px rgba(93,143,187,1);
}
#content button:hover,
#content .button:hover,
#content span.cancel:hover,
#content input[type=submit]:hover {
	background-color: rgba(75,131,180,0.8);
	text-decoration:none;
}
#content input.delete {
	background-color: rgba(204,0,0,0.9);
	border: 1px solid rgba(204,0,0,0.9);
	box-shadow: inset 0px 1px 0px 0px rgba(230,0,0,1),
	inset 0px -1px 0px 0px rgba(230,0,0,1);
}
#admin-page input.delete:hover {
	background-color: rgba(204,0,0,0.7);
}
#content ul {
	list-style:none;
	margin:0;	
	clear:both;
	display:block;
}
#content ul li {
	text-align:left;
	margin:5px;
	border-bottom: 1px double rgba(32,32,32,0.4);
}
#content ul li a {
	text-decoration:none;
	color: rgba(75,131,180,0.9) !important;
}
#content ul li a:hover {
	text-decoration:underline;
}
#content ul li span.text-snippet {
	font-size: 0.8em;
	color: #666;	
}
#content ul li span.date-posted {
	display:block;
	font-size: 0.7em;
	color: #888;
}
#content a.view-all {
	text-align:right;
	display:block;
	padding:5px;
	text-decoration: none;
	color:#333;
	font-size:0.8em;
}
#content table {
	width: 100%;
	margin: 0;
	padding:10px;
	border-spacing:0;
}
#content table tbody {
	border-spacing: 0;
}
#content table tr {
	margin: 0;
	border-spacing:0;
	width:100%;
}
#content table tr th {
	border-bottom: 1px solid rgba(32,32,32,0.1);
	font-size:1.1em;
	padding:5px 0 10px;
}
#content table tr td {
	border-bottom: 1px solid rgba(32,32,32,0.1);
	padding:10px 0;
	margin:0;
}
#content select {
    padding:5px;
    margin: 0;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
    height:25px;
    background: #fff;
    color:#333;
    border:1px solid rgba(32,32,32,0.5);
    outline:none;
    display: inline-block;
    box-sizing:content-box;
    -webkit-appearance:menulist;
    -moz-appearance:menulist;
    appearance:menulist;
    cursor:pointer;
}
.inner-page {
	border:1px solid #ddd;
	background: #fff;
	padding:10px;
	margin-bottom: 10px;
}
#content h2 span.notes {
	font-size: 0.7em;
	cursor:pointer;
	margin-left:50px;
	border: 1px solid #555;
}
.create-something-new {
	position: absolute;
	top: 0px;
	right: 20px;
	padding: 0 35px 0 0;
}
.create-something-title {
	color: #fff;
	padding: 0 5px;
}
.create-something-new-bg {
	position: absolute;
	top:-35px;
	right:20px;
	width:138px;
	height:100px;
	z-index: -1;
	background: #333;
	background: #333 url('../images/black-Linen.png') top left;
	border:1px solid #ddd;
}
.create-something-new span {

}
.create-something-form {
	position: absolute;
	top:35px;
	right:-5px;
	padding:10px;
	background: #fff;
	border:1px solid #ddd;
	box-shadow: 0px 0px 15px 0px #333;
}
.create-something-form:before {
	content: "";
	position: absolute;
	display: block;
	border-style: solid;
	border-color: transparent transparent #fff transparent;
	top: -2.4em;
	border-width: 20px;
	right: 0;
}
.create-something-form input,
.create-something-form .cancel {
	margin:5px 0;
}
.form-textarea-buttons {
	display: block;
	margin:0px 0 0px;
	width:50%;
	border-top:1px solid #888;
	border-right:1px solid #888;
	border-left:1px solid #888;
}
.form-textarea-buttons .textarea-button {
	display: inline-block;
	margin: 5px 5px;
	padding: 0px 3px;
	border: 1px solid #ddd;
	border-radius: 4px;
	box-shadow: inset 1px 1px 0px 0px #fff,
	inset -1px -1px 0px 0px #fff;
	cursor: pointer;
}
.dropdown-menu {
	font-size:1.4em;
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 1000;
	display: none;
	float: left;
	min-width: 160px;
	padding: 5px 0;
	margin: 2px 0 0;
	list-style: none;
	background-color: #ffffff;
	border: 1px solid #ccc;
	border: 1px solid rgba(0, 0, 0, 0.2);
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	-webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	-webkit-background-clip: padding-box;
	-moz-background-clip: padding;
	background-clip: padding-box;
}
.pagination-footer {
	background: rgba(75,131,180,0.2);
	border: 1px solid #ddd;
}
.pagination-footer ul {
	display: inline-block !important;
}
.pagination-footer li {
	margin: 5px 5px 0 !important;
	background: none !important;
	border-bottom: none !important;
	float:left !important;
}
#quicklinks {
	font-size: 1.1em;
	display:block;
	border:1px solid #ddd;
	background: #fff;
	padding:10px 10px 0;
	margin-bottom: 10px;
}
#quicklinks p {
	font-size: 1.2em;
	float:left;
	width: 135px;
	text-align:center;
	margin: 10px;
}
#quicklinks a {
	height:100%;
	display:block;
	text-decoration:none;
	color: rgba(75,131,180,0.9);
	text-shadow: 1px 1px 1px #fff;
	/*background: #333;*/
	/*border: 1px double rgba(32,32,32,0.4);*/
	padding:5px;
}
#quicklinks a:before {
	font-size: 2.5em;
	display:block;
	color: #333;
}
#quicklinks a:hover {
	background: #eee;
}
#quicklinks span {
	font-size:0.7em;
	padding: 5px;
	text-align:right;
	cursor:default;
	display:block;
	clear: both;
}
#quicklinks span a {
	cursor: default;
}
#quicklinks span a:hover {
	background:none;
}
#news-feed {
	display:block;
	clear:both;
	border:1px solid #ddd;
	background: #fff;
	padding:10px 10px;
	margin-bottom:10px;
}
#news-feed li {
	padding:5px;
	background: #eee;
}
#news-feed li.unread {
	background: rgba(75,131,180,0.2);
}
#news-page .news-article {
	border-bottom:1px solid rgba(32,32,32,0.4);
	padding:5px 10px 10px;
	margin-bottom:0px;
	background: #eee;
}
#news-page .unread {
	background: rgba(75,131,180,0.1);	
}
#news-page .unread a {
	color: rgba(75,131,180,0.9);
}
#content .news-filter {
	border: 1px solid #ddd;
	background: rgba(75,131,180,0.2);
	margin-bottom:5px;
}
#content .news-filter ul {
}
#content .news-filter ul.user-specific {
	text-align:right;
}
#content .news-filter ul li {
	display:inline-block;
	border-bottom:none !important;
	padding:5px;
	margin:0;
}
#content .news-filter ul li a {
	color: #fff !important;
	padding:5px;
}
#news-feed li .ss-lightbulb,
#news-page .news-article .ss-lightbulb {
	position:absolute;
	right:20px;
	color: rgba(204,0,0, 0.9);
}
#news-page .article-add-form {
	width: 700px;

}
#news-page .article-add-form input,
#news-page .article-add-form .cancel {
	height:25px;
	width:100%;
	font-size:1em;
	padding: 0px;
}
#news-page .article-add-form textarea {
	font-size:1em;
	width:100%;
	height:200px;
}
#news-page form.update-article input{
	height: 25px;
	width: 400px;
	margin-bottom:10px;
	font-size:1em;
}
#news-page form.update-article a.button {
	height: 20px;
	padding:0px;
	width: 397px;
	margin-bottom:10px;
	font-size:1em;
	clear:left;
	display: block;
}
#news-page form.update-article textarea {
	height: 400px;
	width: 600px;
	font-size:1em;
}
#news-page .ss-heart {
	color: #333;
	cursor:pointer;
}
#news-page .ss-heart:before {
	color:#999;
	vertical-align: middle;
	padding:0 5px;
}
#news-page .ss-heart.favorited:before {
	color: #A95306;
}

/* Admin Page */
#admin-page .admin-p {
	font-size: 1.2em;
	float:left;
	width: 135px;
	text-align:center;
	margin: 10px;
}
#admin-page .admin-p .admin-link {
	height:100%;
	display:block;
	text-decoration:none;
	color: rgba(75,131,180,0.9);
	text-shadow: 1px 1px 1px #fff;
	/*background: #333;*/
	/*border: 1px double rgba(32,32,32,0.4);*/
	padding:5px;
}
#admin-page .admin-p .admin-link:before {
	font-size: 2.5em;
	display:block;
	color: #333;
}
#admin-page .admin-p .admin-link:hover {
	background: #eee;
}
#admin-page .admin-span {
	font-size:0.7em;
	padding: 5px;
	text-align:right;
	cursor:default;
	display:block;
	clear: both;
}
#admin-page .admin-span a {
	cursor: default;
}
#admin-page .admin-span a:hover {
	background: none;
}
#admin-page .admin-p .admin-link img {
	display:block;
	margin:0 auto;
}
#admin-page small {
	color: #aaa;
	font-size: 0.7em;
	display: block;
}
#admin-page a.userrole-admin {
	background: rgba(75,131,180,0.1);
}
#admin-page a.status-inactive {
	opacity: 0.6;
	background: #eee;
}
#admin-page .user-field {
	padding:10px;
	height:25px;
	border-bottom: 1px solid #ddd;
}
#admin-page .user-title {
	width: 200px;
	display: inline-block;
}
#admin-page .password-value {
	color: #ccc;
}
#admin-page input {
	height:25px;
	font-size:1em;
}
/* Proile Page */
#profile-page {
	font-size: 1em;
}
#profile-page .user-image {
	float: right;
	background: #eee;
	border-radius: 5px;
	border:1px solid #ddd;
}
#profile-page .profile-field {
	padding:10px;
	height:25px;
	border-bottom: 1px solid #ddd;
}
#profile-page .profile-title {
	width: 200px;
	display: inline-block;
}
#profile-page .password-value {
	color: #ccc;
}
#profile-page input {
	height:25px;
	font-size:1em;
	margin: 0;
}
/* Projects Page */
.create-new {
	margin: 0;
}
.create-new .create-new-button {
	color: #eee;
	text-shadow: 1px 1px #fff;
	/*background: rgba(75,131,180,0.9);*/
	/*border: 1px solid #111;*/
	padding:0;
	font-size:1.2em;
	cursor: pointer;
	margin: 0;
	display:block;
	border-radius: 5px;
	position:absolute;
	top: 5px;
	left:50%;
	/*box-shadow: 0px 0px 15px #777;*/
}
.create-new .create-new-button a {
	text-decoration:none;
	color: #333;
}
.create-new-details label {
	width: 100px;
	display:block;
}
.create-cancel {
	color: red;
	border: 1px solid red;
	border-radius: 5px;
	cursor:pointer;
}
.projects-list {
	font-size: 1.2em;
	width:100%;
	margin: 0;
}
.projects-list .list-header {
	font-size:1em;
	font-weight: 100;
}
.projects-list a {
	font-size: 0.8em;
}
.projects-list td {
	height: 30px;
	width: 190px;
	max-width: 192px;
	margin: 0;
}
.projects-list td.project-title {
	width:500px;
}
.projects-list td.project-account {
	width:140px;
}
.projects-list td.project-stage {
	width:100px;
}
.projects-list td.project-priority {
	width:100px;
}
.projects-list td.project-assigned {
	width:120px;
}
.projects-list select {
    padding:5px;
    margin: 0;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
    /*
-webkit-box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
    -moz-box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
    box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
*/
    background: #eee;
    color:#333;
    border:1px solid #777;
    outline:none;
    display: inline-block;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    cursor:pointer;
}

/* Targetting Webkit browsers only. FF will show the dropdown arrow with so much padding. */
@media screen and (-webkit-min-device-pixel-ratio:0) {
    .projects-list select {padding-right:18px}
}

.projects-list label {position:relative}
.projects-list label:after {
    content:'<>';
    font:11px "Consolas", monospace;
    color:#333;
    -webkit-transform:rotate(90deg);
    -moz-transform:rotate(90deg);
    -ms-transform:rotate(90deg);
    transform:rotate(90deg);
    right: 3px;
    top: 8px;
    position:absolute;
    pointer-events:none;
}
.high-priority {
	background: rgba(255,0,0,0.7);
}


#fourOhFour-page p {
	margin: 10px auto;
	width: 300px;
	text-align: center;
	font-size:1.5em;
}
#fourOhFour-page span {
	margin: 10px auto;
	width: 300px;
	text-align: center;
	display: block;
	color: #888;	
}
#fourOhFour-page p.alert-icon span {
	font-size:8em;
	color: #CC3333;
}
/* Footer */
#foot {
	font-size:1.2em;
	width:100%;
}
#footer {
	border-top: 1px solid rgba(32,32,32,0.4);
	padding:5px 5px 5px 20px;
	font-size:0.9em;
	margin: 20px;
	display:block;
	clear:both;
}

/* Responsive Tweaks */
@media
	only screen and (max-width: 1420px) {
		.section { width:1250px; }
		#content { width: 965px; box-shadow: none; }
		#nav_menu { margin-right: 0px; }
}