/* Reset */
* { margin:0; padding:0; outline:0; }

/*
insideout.com
Orange: #A95306 - 
Yellow: #D5A829 - 213,168,41
Blue: #b5cde0

using these:
Blue: #4B83B4 - 75,131,180
Pink/Red: #FF4D4D - 255,77,77
		  #f4726d
Green: #2E9999 - 46,153,153
Brown: #BF885B - 191,136,91

alternate:
Orange: A95306
Orange2: A97506
Blue: 102A72 4B83B4
Green: 055F67
*/

/* General */
body {
	text-align:left;
	background: #333333;
	/*background: #eee url('../images/ticks.png') top left;*/
	font-family: "Open Sans", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #333333;
	font-size: 62.5%;
	font-weight: 300;
	letter-spacing: 0.1em;
	margin:0px;
	padding:0px;
	height: 100%;
}
h1, h2, h3, h4, h5 {
	font-family: "Oswald", "Open Sans", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 300;
	letter-spacing: 0.1em;
}
::selection {
	background: #D5A829;
}
::-moz-selection {
	background: #D5A829;
}
a {
	color: #2E9999;
	text-decoration: none;
}
a:hover {
	color: #FF4D4D;
	text-decoration: underline;
}
ul {
	list-style:none;
}
.clear {
	clear:both;
}
.right {
	float:right;
}
.left {
	float:left;
}
.none {
	display: none;
}
.required {
	color: red;
}
.select-dropdown {
	overflow: hidden;
	background: #fafafa;
	border: 1px solid rgba(51,51,51,0.5);
	border-radius: 3px;
	position: relative;
	cursor: pointer;
	padding: 0px 0px 0px 0px;
	box-shadow: inset 0px -2px rgba(51,51,51,0.5);
	height: 27.5px;
	display: inline-block;
}
.select-dropdown .ss-dropdown:before {
	position: absolute;
	right: 4px;
	bottom: 3px;
	font-size: 0.5em;
	color: #000;
	z-index: 1;
}
.select-dropdown .ss-directup:before {
	position: absolute;
	right: 4px;
	top: 4px;
	font-size: 0.5em;
	color: #000;
	z-index: 1;
}
select {
	font-size: 1em;
	font-weight: 300;
	height: 27.5px;
	color: #333333;
	font-family: "Oswald", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
	padding: 0px 20px 0px 5px;
	margin: 0;
	box-shadow: none;
	border: 0;
	-webkit-appearance: window;
	-moz-appearance: window;
	appearance: window;
	text-indent: 0.01px;
	text-overflow: '';
	background: transparent;
	cursor: pointer;
	position: relative;
	z-index: 2;
}

/*.horizontal-rule {
	margin-bottom: 10px;
}
.global-hrule {
	border: 0;
    height: 1px;
    background: #333;
    background-image: -webkit-linear-gradient(left, #ccc, #333, #ccc);
    background-image:    -moz-linear-gradient(left, #ccc, #333, #ccc);
    background-image:     -ms-linear-gradient(left, #ccc, #333, #ccc);
    background-image:      -o-linear-gradient(left, #ccc, #333, #ccc);
}*/
noscript {
	position:fixed;
	top: 0;
	left: 0;
	z-index: 999999;
	width: 100%;
	height: 100%;
	background: #fafafa;
}
noscript p {
	color: #333;
	font-size: 1.4em;
	padding: 10px;
}
noscript span.alert {
	color: red;
}
.office-notice {
	background-color: #FAF2DB;
	color: #333333;
	border: 1px solid #D3C691;
	border-radius: 3px;
	margin: 20px 0px;
	padding: 10px;
}
.search-bar-active {
	padding-top: 40px;
	top: 40px;
}
#colorbox button {
	border:none !important;
}
.dropdown-menu {
	font-size:1.4em;
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 1000;
	display: none;
	float: left;
	min-width: 160px;
	padding: 5px 0;
	margin: 2px 0 0;
	list-style: none;
	background-color: #ffffff;
	border: 1px solid #ccc;
	border: 1px solid rgba(0, 0, 0, 0.2);
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	-webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	-webkit-background-clip: padding-box;
	-moz-background-clip: padding;
	background-clip: padding-box;
}
pre.script {
	width: 50%;
	border: 1px solid #D5A829;
	border-radius: 3px;
	background: #f5f5f5;
	color: #333333;
	/*box-shadow: inset 0px 0px 1px 0px #eeeeee;*/
	padding: 5px 10px;
	margin: 0 20px;
	white-space: pre-wrap;
}
pre.php {
	width: 50%;
	border: 1px solid #D5A829;
	border-radius: 3px;
	background: #f5f5f5;
	color: #333333;
	/*box-shadow: inset 0px 0px 1px 0px #eeeeee;*/
	padding: 5px 10px;
	margin: 0 20px;
	white-space: pre-wrap;
}

/* Checkboxes */
.checklist-checkbox-label label {
-webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
}

input[type=checkbox].checklist-checkbox {
	position: absolute; 
    overflow: hidden; 
    clip: rect(0 0 0 0); 
    height:1px; 
    width:1px; 
    margin:-1px; 
    padding:0;
    border:0;
}

input[type=checkbox].checklist-checkbox + label.checklist-checkbox-label {
	padding-left:20px;
	height:20px; 
	display:inline-block;
	line-height:20px;
	background-repeat:no-repeat;
	background-position: 0 0;
	font-size:15px;
	vertical-align:middle;
	cursor:pointer;
}

input[type=checkbox].checklist-checkbox:checked + label.checklist-checkbox-label {
	background-position: 0 -20px;
}
.custom-checkbox {
	background-image:url(../images/klaus.png);
}
.tooltip,
.favorite-this {
	position: absolute;
	top: -44px;
	left: 50%;
	margin-left: -49px;
	width: 80px;
	border-radius: 3px;
	background: #333333;
	color: #ffffff;
	text-align: center;
	padding: 2px 8px 4px;
	z-index: 1000;
}
.tooltip:after,
.favorite-this:after {
	top: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(51, 51, 51, 0);
	border-top-color: #333333;
	border-width: 5px;
	margin-left: -5px;
}
.post-tooltip,
.tooltip-hover {
	position: relative;
	cursor: pointer;
}
.tooltip-hover .tooltip {
	display: none;
}
.tooltip-hover:hover .tooltip {
	display: block;
	font-size: 0.8em;
}

/* Header */
#header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 60px;
	z-index: 57;
	clear: both;
	background: #333333;
}
.section {
	width: 100%;
	box-sizing: border-box;
	position:relative;
	margin:0;
}

/* Search Bar */
#search-box {
	display: none;
	width: 100%;
	box-sizing: border-box;
	margin: 0px 0px 0px 0;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 999;
	height: 20px;
	background: #555555;
}
#search-box input.search {
	border: none;
	width:100%;
	padding: 10px 5px 10px 20px;
	height: 20px;
	background: #555555;
	color: #ffffff;
	font-size: 1.4em;
}
#search-box input.search::-webkit-input-placeholder {
	color: #ffffff;
}
#search-box input.search::-moz-placeholder {
	color: #ffffff;
}

/* Main Menu */
#nav_menu {
	z-index:55;
	position: fixed;
	top: 0px;
	left: 0px;
	height: 60px;
	width: 100%;
	margin-top:0px;
	background: #333333;
	font-family: "Oswald", "Open Sans", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
#menu_header {
	height: 100%;
	width: 100%;
	position:relative;
	margin-left:0px;
	float:left;
}
.menu_nav {
	height: 100%;
}
#menu_header ul#menu_links {
	list-style:none;
	height: 100%;
}
#menu_header ul#menu_links li.link {
	float:left;
	font-size:1.4em;
	letter-spacing: 0.0625em;
	color: #ffffff;
	height: 45px;
	line-height: 60px;
	vertical-align: middle;
	padding: 15px 15px 0px 15px;
	margin:0px 0px;
	position:relative;
	text-align:left;
	cursor:pointer;
	z-index:56;
	border: none;
	background: #333333;
}
#menu_header ul#menu_links li.link#link-profile,
#menu_header ul#menu_links li.link#link-search {
	float: right;
}
#menu_header ul#menu_links li.link.active,
#menu_header ul#menu_links li.link.active a:before {
	background: #4B83B4;
}
#menu_header ul#menu_links li.link.hover,
#menu_header ul#menu_links li.link.hover a:before,
#menu_header ul#menu_links li.link.hover a.link-href span.link-text {
	color: #333333;
	background: #eeeeee;
}
#menu_header ul#menu_links li.link a.link-href {
	text-decoration: none;
	cursor: pointer;
	color: #fff;
	display: block;
	text-align: center;
	height: 45px;
	padding: 0;
}
#menu_header ul#menu_links li.link a.link-href span.link-text {
	height: 45px;
}
#menu_header ul#menu_links li.link a.link-href span.invoice-dollar {
	position: absolute;
	left: 0px;
	top: -12px;
	text-align: center;
	width: 100%;
	box-sizing: border-box;
	color: #333;
	font-weight: 700;
	text-shadow: none;
}
#menu_header ul#menu_links li.link.hover a.link-href span.invoice-dollar {
	color: #ffffff;
}
#menu_header ul#menu_links li.link a .link-image {
	display: block;
	border-radius: 5px;
	margin: -15px 0 -20px;
}
#menu_header ul#menu_links li.link a:before {
	font-size: 24px;
	font-weight: 300;
	position: absolute;
	top: -10px;
	left: 0px;
	width: 100%;
	box-sizing: border-box;
	text-align: center;
	z-index: -1;
	color: #ffffff;
	margin-bottom: 0px;
	margin-top: 0px;
}
#menu_header ul#menu_links li.link span.linked-to {
	position: absolute;
	top: 25px;
	right: 1px;
	height: 20px;
	line-height: 20px;
	box-sizing: border-box;
	padding: 0 3px;
	text-align: center;
	color: #333333;
	font-weight: 400;
	font-size: 0.8em;
	z-index: 58;
	background: #FF4D4D;
	border-radius: 3px;
	border: none;
}
#menu_header ul#menu_links li.link span.linked-to a {
	color: #333333;
	width: 100%;
	height: 100%;
	display: block;
}
#menu_header ul#menu_links li.link span.linked-to a:hover {
	text-decoration: none;
	color: #ffffff;
}
#menu_header ul.sub_menu_links-hover {
	visibility: hidden;
	display: none;
	position: absolute;
	left: 0px;
	top: 60px;
	width: 140px;
	box-sizing: border-box;
	z-index: 59;
	border-bottom: 2px solid #333333;
	background: #eeeeee;
}
#menu_header ul.sub_menu_links-hover li {
	position: relative;
	cursor: pointer;
	font-size: 1em;
	height: 20px;
	padding: 5px 0px 5px 15px;
}
#menu_header ul.sub_menu_links-hover li a {
	color: #333333;
	text-decoration: none;
	height: 20px;
	line-height: 20px;
	display: block;
}
#menu_header ul.sub_menu_links-hover li a:hover {
	text-decoration: underline;
}

/* Message Box */
#message-box,
#message-box-json {
	display: none;
	position: fixed;
	top: 0px;
	left: 0px;
	height: 60px;
	width: 100%;
	box-sizing: border-box;
	padding: 0;
	z-index: 99;
	font-size: 2em;
	background: #fafafa;
}
#message-box .close-message,
#message-box-json .close-message {
	position: absolute;
	right: 1%;
	top: 10px;
	padding: 5px;
	color: #FF4D4D;
	cursor: pointer;
	z-index: 100;
}
#message-box .close-message:hover,
#message-box-json .close-message:hover {
	text-shadow: 1px 1px 1px #000000;
}
#message-box .action-message,
#message-box-json .action-message {
	margin: 10px 20px 0 20px;
	padding: 5px 1px 0;
	height: 30px;
	color: #000;
}
#message-box .action-message span,
#message-box-json .action-message span {
	background:none;
}
#message-box .action-message .ss-check,
#message-box-json .action-message .ss-check,
#message-box .action-message .flash-message-success,
#message-box-json .action-message .flash-message-success {
	color: #4B83B4;
	padding:4px;
}
#message-box .action-message .ss-alert,
#message-box-json .action-message .ss-alert,
#message-box .action-message .flash-message-error,
#message-box-json .action-message .flash-message-error {
	color: #FF4D4D;
	padding:4px;
}

/* Page */
#page {
	font-size: 1.2em;
	width: 100%;
	box-sizing: border-box;
	margin: 60px 0 0px;
	background: #fafafa;
}

/* Page Content */
#content {
	width: auto;
	margin: 0;
	padding: 0;
	font-size: 1.2em;
	position: relative;
}
.inner-page {
	padding: 0px 40px 20px;
	position: relative;
}
.edit-page {
	background: #555555;
}
/* Page Title Header */
#content #page-title {
	background: #4B83B4;
	position: relative;
	height: 90px;
	width: 100%;
	box-sizing: border-box;
}
#content #page-title span.todays-date {
	position: absolute;
	top: 5px;
	right: 20px;
	color: #ffffff;
}
#content #page-title img.logo {
	position: absolute;
	top: 6px;
	left: 20px;
	opacity: 0.1;
	z-index: 0;
}
#content #page-title h1 {
	font-size: 2em;
	letter-spacing: 0.0225em;
	line-height: 90px;
	padding: 0 0px 0px 20px;
	margin: 0;
	color: #fff;
	float: left;
	z-index: 1;
	position: relative;
	font-family: "Open Sans", sans-serif;
}
/* Page Menu */
#page-nav_menu {
	width: 100%;
	box-sizing: border-box;
	height: 50px;
	background: #e5e5e5;
	overflow: hidden;
	padding-left: 30px;
	padding-right: 30px;
	font-family: "Oswald", "Open Sans", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
#page-nav_menu .add-button,
#content .add-button {
	text-decoration: none;
	height: 22.5px;
	color: #ffffff;
	background: #2E9999;
	border-radius: 3px;
	margin: 0px 5px;
	padding: 2.5px 10px 5px 10px;
	box-shadow: inset 0px -3px rgba(51,51,51,0.5);
	float: left;
	cursor: pointer;
	position: relative;
}
#page-nav_menu .add-button:hover,
#page-nav_menu .add-button.active,
#content .add-button:hover,
#content .add-button.active {
	margin-top: 1px;
	height: 21.5px;
	box-shadow: inset 0px -2px rgba(51,51,51,0.5);
	background: #FF4D4D;
}
#page-nav_menu ul li {
	float: left;
	margin: 10px 7.5px 0 7.5px;
}
#page-nav_menu ul li.right {
	float: right;
}
#page-nav_menu ul li:first-child {
	margin-left: 0;
}
#page-nav_menu ul li a {
	height: 22.5px;
	color: #333333;
	margin: 0px 7.5px 10px;
	padding: 2.5px 10px 2.5px 10px;
	float: left;
	cursor: pointer;
	position: relative;
}
#page-nav_menu ul li a.active {
	color: #2E9999;
	font-weight: 300;
}
#page-nav_menu ul li a.active:after {
	top: 50%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(51, 51, 51, 0);
	border-bottom-color: #fafafa;
	border-width: 15px;
	margin-left: -15px;
}
#page-nav_menu ul li a:hover {
	text-decoration: none;
	background: #858585;
	color: #ffffff;
	border-radius: 3px;
}
#page-nav_menu .page-meta {
	margin-left: 10px;
	font-size: 1.3em;
	padding: 0 10px;
	color: #858585;
}
#page-nav_menu .page-meta a {
	color: #2E9999;
	padding: 0 0 5px 0;
	margin: 0;
}
#page-nav_menu .page-meta a:hover {
	background: none;
	color: #2E9999;
}
#page-nav_menu .page-meta .ss-heart {
	color: #858585;
}
#page-nav_menu .page-meta .ss-heart.favorited {
	color: #2E9999;
}
#page-nav_menu .page-meta .tooltip {
	top: calc(100% - 10px);
	width: 400px;
	text-align:left;
	margin-left: -40px;
	background: none;
	color: #333333;
	font-size: 0.7em;
}
#page-nav_menu .post-dates .post-date-box {
	border-left: 8px solid #FF4D4D;
	background: rgba(255,77,77,0.1);
	padding: 0 10px 0px;
	margin-top: -10px;
	height: 50px;
}
#page-nav_menu .post-dates .post-date-icon:before {
	font-size: 42px;
	color: #FF4D4D;
	float: left;
}
#page-nav_menu .post-dates .post-date-box .post-date {
	margin: 0px 0 0 60px;
	padding-top: 2.5px;
	display: block;
}
#page-nav_menu .post-dates .post-date-box .post-date-subbox {
	margin-left: 60px;
	display: block;
}
#page-nav_menu .post-progress {
	border-left: 8px solid #2E9999;
	background: rgba(46,153,153,0.1);
	height: 50px;
	margin-top: -10px;
	padding: 0 10px;
}
#page-nav_menu .post-progress div {
	display: inline-block;
	font-size: 1.6em;
	margin-top: 7.5px;
	letter-spacing: 0.25em;
}
#page-nav_menu .post-progress .post-progress-icon:before {
	font-size: 24px;
	color: #2E9999;
	margin-right: 10px;
}
/* General Page Styles */
#content h2 {
	font-size: 1.5em;
	color: #333333;
	margin: 10px 0;
}
#content .edit-page h2 {
	color: #ffffff;
	margin-top: 0;
	padding-top: 10px;
}
#content h3 {
	font-size: 1.3em;
	color: #333333;
	margin: 10px 0;
}
#content p {
	margin: 0px;
}
#content .link-box-wrapper {
	display: inline-block;
	min-width: 50%;
}
#content .link-box {
	font-size: 1.2em;
	float: left;
	width: 45%;
	min-width: 100px;
	max-width: 200px;
	box-sizing: border-box;
	text-align: center;
	margin: 0px 10px 10px 0;
	padding: 0px 0px 0px 0px;
	position: relative;
}
#content .link-box a {
	position: relative;
	height: 60px;
	display: block;
	text-decoration: none;
	color: #ffffff;
	padding: 5px 0 10px;
	background: #555555;
	border-radius: 3px;
	box-shadow: inset 0px -5px rgba(51,51,51,0.7);
}
#content .link-box a:before {
	font-size: 24px;
	display:block;
	color: #ffffff;
}
#content .link-box:hover {
	/*padding-top: 2px;*/
}
#content .link-box a:hover {
	margin-top: 2px;
	height: 58px;
	background: #FF4D4D;
	box-shadow: inset 0px -3px rgba(51,51,51,0.5);
}
#content .link-box span {
	font-size:0.7em;
	padding: 5px;
	text-align:right;
	cursor:default;
	display:block;
	clear: both;
}
#content .link-box span.user-todo,
#content .link-box span.linked-to a {
	padding: 1px 8px;
	position: absolute;
	top: 1px;
	right: 1px;
	font-weight: 400;
	background: #FF4D4D;
	color: #333333;
	cursor: pointer;
	border-radius: 3px;
}
#content .link-box span.user-todo:hover,
#content .link-box span.linked-to a:hover {
	color: #ffffff;
}
#content .link-box span a {
	cursor: default;
}
/* General Form Styles */
#content .loading-something-new {
	background: #555555;
	display: block;
	width: 100%;
	box-sizing: border-box;
	padding: 10px;
	color: #ffffff;
}
#content .create-something-form {
	background: #555555;
	color: #ffffff;
	width: 100%;
	box-sizing: border-box;
	height: 100%;
	padding: 20px;
}
#content .update-something-form {
	background: #555555;
	color: #ffffff;
	width: 100%;
	box-sizing: border-box;
	height: 100%;
	padding: 20px;
	margin: 0;
}
#content .edit-something-form {
	background: #555555;
	color: #ffffff;
	width: 100%;
	box-sizing: border-box;
	height: 100%;
	padding: 20px;
	margin: 0;
}
#content .create-something-form h2,
#content .update-something-form h2 {
	color: #ffffff;
	margin-top: 0;
}
#content .create-something-form h3,
#content .update-something-form h3 {
	color: #ffffff;
}
#content .new-form-field {
	border-radius: 3px;
	width: 100%;
	display: block;
}
#content .create-something-form .new-form-field:first-child {
	margin-bottom: 10px;
}
#content .new-form-field label {
	width: 200px;
	height: 25px;
	padding: 5px 10px 5px 0px;
	vertical-align: top;
	display: inline-block;
}
#content .new-form-field input[type=text],
#content .new-form-field input[type=email],
#content .new-form-field input[type=password],
#content .new-form-field textarea {
	padding: 5px;
	height: 20px;
	font-size: 1em;
	border: none;
	border-radius: 3px;
	margin: 5px 0;
	width: calc(100% - 230px);
}
#content .new-form-field textarea {
	margin-top: 10px;
	height: 200px;
}
#content .new-form-field .select-dropdown,
#content .new-form-field input[type=file] {
	margin-top: 5px;
}
#content .new-form-field .form-action-buttons .form-action-button,
#content .new-form-field .accounts-search-ajax span.accounts-searched {
	display: inline-block;
	background: #d5d5d5;
	border: none;
	border-radius: 3px;
	padding: 5px 8px;
	margin: 5px 5px 0 0;
	box-shadow: inset 0px -3px #858585;
	font-size: 0.9em;
	color: #333333;
	cursor: pointer;
	height: 20px;
}
#content .new-form-field .form-action-buttons .form-action-button:hover,
#content .new-form-field .form-action-buttons .subscribe-selected,
#content .new-form-field .accounts-search-ajax span.accounts-searched:hover {
	background: #FF4D4D;
	color: #ffffff;
	box-shadow: inset 0px -3px rgba(51,51,51,0.5);
}
#content .new-form-field .accounts-search-ajax {
	margin-left: 220px;
}
#content .new-form-field .accounts-search-ajax span {
	margin: 5px 5px 10px 0 !important;
	display: inline-block;
}
#content .new-form-field.add-task-buttons span {
	margin: 5px 5px 10px 0 !important;
	padding: 5px 20px !important;	
}
#content .new-form-field.add-task-buttons .tooltip {
	left: -50% !important;
}
#content .update-something-form .edit-attachments {
	padding-top: 30px;
	position: relative;
}
#content .update-something-form .edit-attachments p {
	background: #353535;
	padding: 10px;
	border-radius: 3px;
}
#content .update-something-form .edit-attachments .post-edit-attachment {
	position: relative;
	width: 100px;
	height: 100px;
	display: inline-block;
	margin: 10px 10px 10px 0;
	/*box-shadow: 0px 3px #353535;*/
}
#content .update-something-form .edit-attachments .post-edit-attachment a .post-attachment {
	width: 100%;
	height: auto;
	border: 1px solid #353535;
}
#content .update-something-form .edit-attachments .delete-attachment {
	position: absolute;
	top: 0;
	left: 0;
	padding: 0 46px 34px 5px;
	color: #FF4D4D;
	font-size: 48px;
	cursor: pointer;
}
/*#content input[type=file]::-webkit-file-upload-button {
	visibility: hidden;
}
#content input[type=file]::before {
	content: 'Choose Files';
	display: inline-block;
	background: #2E9999;
	border: none;
	border-radius: 3px;
	padding: 5px 8px;
	box-shadow: 0px 3px #333333;
	outline: none;
	white-space: nowrap;
	-webkit-user-select: none;
	-webkit-appearance: none;
	appearance: none;
	white-space: normal;
	cursor: pointer;
	font-weight: 300 !important;
	font-size: 1.1em !important;
	line-height: 1.1em !important;
	font-family: "Oswald", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}
#content input[type=file]:hover::before {
	border-color: black;
}
#content input[type=file]:active::before {
	background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}*/
#content .form-button {
	border: none;
	text-align: center;
	display: inline-block;
	font-size: 1.1em;
	line-height: 1.1em;
	font-weight: 300;
	letter-spacing: 0.1em;
	font-family: "Oswald", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
	text-decoration: none;
	color: #ffffff;
	background: #2E9999;
	border-radius: 3px;
	margin: 5px 7.5px 1px 0;
	padding: 5px 20px 2.5px 20px;
	height: 22.5px;
	box-shadow: inset 0px -3px rgba(51,51,51,0.5);
	cursor: pointer;
	position: relative;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	white-space: normal;
}
#content input.form-button {
	height: 30px;
	padding-top: 0px;
}
#content .form-button.cancel {
	float: right;
	background: #a5a5a5;
}
#content .delete-post {
	width: 100%;
	height: 80px;
}
#content .form-button.delete {
	float: right;
	background: #555555;
	color: #555555;
	box-shadow: 1px 2px #656565;
	margin-top: 60px !important;
}
#content .form-button:hover {
	background: #FF4D4D;
	color: #ffffff;
	box-shadow: inset 0px -2px rgba(51,51,51,0.5);
	margin: 6px 7.5px 1px 0;
	height: 21.5px;
}
#content input.form-button:hover {
	height: 29px;
	padding-top: 1px;
}
/* General List Styles */
#content .office-post,
#content .office-post-comment {
	padding: 0px 10px;
	position: relative;
	height: 85px;
	margin: 0 0px 0px 0px;
	border-style: solid;
	border-width: 0px;
	border-left-width: 8px;
	border-color: #c5c5c5;
}
#content .office-post-comment {
	height: auto;
	padding: 10px;
}
#content .office-post-comment.office-post-sub-comment {
	margin-left: 40px;
}
#content .office-post-comment.office-post-comment-new {
	border-color: #4B83B4;
	background: rgba(75,131,180,0.2);
}
#content .office-post:nth-child(2n),
#content .office-post-comment:nth-child(2n) {
	background: #e5e5e5;
}
#content .office-post h3 {
	margin: 0px 0;
	padding: 5px 0px 12.5px;
	height: 25px;
	line-height: 18px;
	overflow: hidden;
	position: relative;
}
#content .office-post .nothing-to-show {
	/*border: 1px dotted #ddd;*/
	background: #eeeeee;
	border-radius: 3px;
	padding: 0 10px;
	margin: 5px 20px 0 0;
	height: 100%;
}
#content .office-post .nothing-to-show p {
	padding: 10px 0;
}
#content .office-post.sticky .sticky-icon {
	position: absolute;
	top: 0px;
	left: -21px;
	font-size: 1.1em;
	color: #FF4D4D;
}
#content .office-post.sticky {
	border-color: #E6E600;
}
#content .office-post.unread,
#content .office-post.user-list-standard {
	border-color: #4B83B4;
}
#content .office-post.due-now,
#content .office-post.user-list-admins {
	border-color: #FF4D4D;
}
#content .office-post.due-soon {
	border-color: #A61919;
}
#content .office-post.user-list-inactive {
	opacity: 0.7;
}
#content .office-post.high-priority {
	/*background: rgba(255,77,77,0.1);*/
	border-right: 8px solid #A61919;
}
#content .office-post.high-priority .high-priority-alert {
	float: right;
	margin: 30px 20px 0 0;
	color: #A61919;
}
#content .office-post.high-priority .high-priority-alert:before {
	font-size: 24px;
}
#content .office-post.normal-priority,
#content .office-post.low-priority {
	padding-right: 18px;
}
#content .office-post .post-meta {
	float: right;
	position: relative;
	margin-top: 25px;
	margin-right: 20px;
	text-align: center;
}
#content .office-post .post-meta span:before,
#content .office-post .post-meta a:before {
	font-size: 24px;
	display: inline-block;
	vertical-align: middle;
	color: #a5a5a5;
}
#content .office-post .post-meta a:before {
	color: rgba(46,153,153,0.8);
}
#content .office-post .post-meta a:hover {
	text-decoration: none;
}
#content .office-post .post-meta .post-meta-desc {
	display: block;
}
#content .office-post .post-favorite .ss-heart.favorited:before {
	color: #FF4D4D;
}
#content .office-post .post-detail span {
	float: left;
}
#content .office-post .post-detail-last span {
	float: left;
	clear: left;
}
#content .office-post .post-due-date {
	color: #FF4D4D;
}
#content .office-post .post-date-text,
#content .office-post .post-due-text {
	padding-right: 5px;
}
#content .office-post.due-now .post-alert .post-due-text-alert {
	background-color: #FAF2DB;
	color: #333333;
	border: 1px solid #D3C691;
	border-radius: 3px;
	font-weight: 400;
	padding: 5px 10px;
}
#content .office-post.user-list .post-author span {
	margin-right: 10px;
	margin-top: 5px;
}
#content .pagination-footer {
	margin: 5px 0;
	display: block;
	width: 100%;
	height: 30px;
}
#content .pagination-footer .pagination li {
	float: left;
	margin: 0 10px 0 0;
	height: 29px;
	background: #c5c5c5;
	color: #858585;
	border-radius: 3px;
	box-shadow: inset 0 -3px rgba(51,51,51,0.5);
	cursor: pointer;
}
#content .pagination-footer .pagination li.active,
#content .pagination-footer .pagination li:hover {
	background: #FF4D4D;
	height: 28px;
	margin-top: 1px;
	box-shadow: inset 0 -2px rgba(51,51,51,0.5);
}
#content .pagination-footer .pagination li.disabled {
	background: #c5c5c5;
	box-shadow: inset 0 -3px rgba(51,51,51,0.5);
	height: 29px;	
	margin: 0 10px 0 0;
	cursor: not-allowed;
}
#content .pagination-footer .pagination li a,
#content .pagination-footer .pagination li span {
	padding: 5px 10px;
	display: block;
	color: #ffffff;
}
#content .pagination-footer .pagination li:first-child a,
#content .pagination-footer .pagination li:last-child a,
#content .pagination-footer .pagination li:first-child span,
#content .pagination-footer .pagination li:last-child span {
	font-size: 1.2em;
	padding: 0 10px 0 10px;
}
#content .pagination-footer .pagination li.disabled a,
#content .pagination-footer .pagination li.disabled span {
	color: #858585;
}
#content .pagination-footer .pagination li a:hover {
	text-decoration: none;
	color: #ffffff;
}
/* Projects List View */
#content #projects-page .project-post,
#content #todo-page .project-post {
	padding-left: 170px;
	position: relative;
}
#content #projects-page .project-post h3,
#content #todo-page .project-post h3 {
	padding: 7.5px 0;
	line-height: 30px;
}
#content #projects-page .project-post .post-date,
#content #todo-page .project-post .post-date {
	position: absolute;
	left: 5px;
	top: 0;
	padding: 5px;
	width: 150px;
	height: 100%;
}
#content #projects-page .project-post .post-date .change-project-date,
#content #todo-page .project-post .post-date .change-project-date {
	cursor: pointer;
	text-align: left;
	padding-left: 40px;
	width: calc(100% - 40px);
}
#content #projects-page .project-post .post-date .project-change-date,
#content #todo-page .project-post .post-date .project-change-date {
	position: absolute;
	top: 5px;
	left: 5px;
	color: #2E9999;
	font-size: 24px;
}
#content #projects-page .project-post .post-date .change-project-date .tooltip,
#content #todo-page .project-post .post-date .change-project-date .tooltip {
	top: -38px;
}
#content #projects-page .project-post .post-date .change-project-date:hover,
#content #todo-page .project-post .post-date .change-project-date:hover {
	background: rgba(51,51,51,0.2);
	color: #ffffff;
	border-radius: 3px;
}
#content #projects-page .project-post .post-alert,
#content #todo-page .project-post .post-alert {
	margin: 5px 0 0;
	width: 100%;
	display: block;
}
#content #projects-page .project-post .post-alert a,
#content #todo-page .project-post .post-alert a {
	color: #333333;
	font-size: 0.9em;
}
#content #projects-page .project-post .post-alert .post-due-text-alert,
#content #todo-page .project-post .post-alert .post-due-text-alert {
	margin: 0;
	padding: 2px 10px 2px 39px;
	width: calc(100% - 51px);
	display: block;
	text-align: left;
	position: relative;
}
#content #projects-page .project-post .post-end-date,
#content #todo-page .project-post .post-end-date {
	padding-top: 2px;
}
#content #projects-page .project-post .post-activity,
#content #projects-page .project-post .post-attachment,
#content #todo-page .project-post .post-activity,
#content #todo-page .project-post .post-attachment,
#content #projects-page .project-post .post-subscribed,
#content #todo-page .project-post .post-subscribed {
	float: right;
	margin: 30px 20px 0 0;
	cursor: pointer;
	color: #a5a5a5;
}
#content #projects-page .project-post .post-activity a:hover,
#content #projects-page .project-post .post-attachment a:hover,
#content #todo-page .project-post .post-activity a:hover,
#content #todo-page .project-post .post-attachment a:hover,
#content #projects-page .project-post .post-subscribed a:hover,
#content #todo-page .project-post .post-subscribed a:hover {
	text-decoration: none;
}
#content #projects-page .project-post .post-activity .post-icon:before,
#content #projects-page .project-post .post-attachment .post-icon:before,
#content #todo-page .project-post .post-activity .post-icon:before,
#content #todo-page .project-post .post-attachment .post-icon:before,
#content #projects-page .project-post .post-subscribed .post-icon:before,
#content #todo-page .project-post .post-subscribed .post-icon:before {
	font-size: 24px;
}
#content #projects-page .project-post .post-subscribed .subscribed-to,
#content #todo-page .project-post .post-subscribed .subscribed-to {
	color: #FF4D4D;
}
#content #projects-page .project-post .post-assigned,
#content #projects-page .project-post .post-stage,
#content #todo-page .project-post .post-assigned,
#content #todo-page .project-post .post-stage {
	float: right;
	margin: 10px 0 0 10px;
	text-align: center;
}
#content #projects-page .project-post .post-stage .change-project-stage .post-stage-text,
#content #todo-page .project-post .post-stage .change-project-stage .post-stage-text {
	margin-bottom: 10px;
	display: block;
}
#content #projects-page .project-post .post-due-bump-date,
#content #todo-page .project-post .post-due-bump-date {
	/*display: inline-block;*/
}
#content #projects-page .project-post .post-due-bump-date:before,
#content #todo-page .project-post .post-due-bump-date:before {
	font-size: 16px;
	color: #2E9999;
	position: absolute;
	top: 0px;
	left: -31px;
}
#content #projects-page .project-post .post-due-bump-date:hover,
#content #todo-page .project-post .post-due-bump-date:hover {
	text-decoration: none;
}
#content #projects-page .project-post select.change-project-stage-list,
#content #todo-page .project-post select.change-project-stage-list {
	width: 125px;
}
/* Post Single View */
#content .office-post-single {

}
#content .office-post-single .post-single-attachment {
	float: right;
	margin: 0 0 10px 10px;
}
#content .office-post-single .post-single-attachment img {
	border: 1px solid #353535;
}
#content .office-post-single .post-manager,
#content .office-post-single .post-subscribed {
	border-left: 8px solid #4B83B4;
	width: 50%;
	box-sizing: border-box;
	background: #e5e5e5;
	padding: 5px 10px 7.5px;
	margin: 10px 0;
	float: left;
}
#content .office-post-single .post-manager h3,
#content .office-post-single .post-subscribed h3 {
	margin-top: 0;
}
#content .office-post-single .post-subscribed .user-subscribed {
	background: rgba(75,131,180,0.6);
	border-radius: 3px;
	color: #ffffff;
	display: inline-block;
	padding: 3px 10px;
	box-shadow: inset 0 -3px rgba(51,51,51,0.5);
}
#content .office-post-single .post-subscribed .user-subscribed:before {
	vertical-align: middle;
	margin-right: 5px
}
#content .office-post-single .post-subscribed .select-dropdown {
	overflow: visible;
}
#content .office-post-single .project-stage-due-date {
	border-left: 8px solid #FF4D4D;
	width: 100%;
	box-sizing: border-box;
	background: #e5e5e5;
	padding: 5px 10px 5px;
	margin: 10px 0 20px;
	font-size: 1.2em;
}
#content .office-post-single .project-stage-due-date .project-stage,
#content .office-post-single .project-stage-due-date .project-due-date {
	margin-top: 5px;
	display: block;
}
#content .office-post-single .project-stage-due-date .project-stage:before,
#content .office-post-single .project-stage-due-date .project-due-date:before {
	font-size: 24px;
	color: #FF4D4D;
	margin-right: 10px;
	vertical-align: middle;
}
#content .office-post-single .project-stage-due-date .post-assigned-to {
	margin-top: 5px;
}
#content .office-post-single .project-stage-due-date .post-assigned-to img {
	margin: 0 5px 0 0;
}
#content .office-post-single .office-post-sub {
	clear: both;
	background: #e5e5e5;
	padding: 5px;
	margin-top: 10px;
	border-left: 8px solid #d5d5d5;
}
/* Project Checklists */
#content .office-post-single .checklist-section {
	width: 100%;
	box-sizing: border-box;
}
#content .office-post-single .checklist-section h4 {
	border-left: 8px solid #FF4D4D;
	padding: 10px;
	font-size: 1.2em;
	background: #e5e5e5;
}
#content .office-post-single .checklist-section h4.section-complete {
	border-color: #a5a5a5;
	background: #e5e5e5;
	opacity: 0.7;
}
#content .office-post-single .checklist-section h4:before {
	font-size: 24px;
	vertical-align: middle;
	margin-right: 10px;
	cursor: pointer;
}
#content .office-post-single .checklist-section .checklist-checkbox-section {
	padding: 10px;
}
#content .office-post-single .checklist-section .checklist-checkbox-section label {
	padding-left: 30px;
}
#content .office-post-single .checklist-section .checklist-checkbox-section input[type=checkbox]:checked + label {
	opacity: 0.7;
	text-decoration: line-through;
}
#content .office-post-single .checklist-section .checklist-checkbox-section .checklist-skip-task {
	float: right;
	font-size: 0.9em;
	padding-top: 0;
	background: rgba(46,153,153,0.5);
}

#content .post-comment.add-button {
	margin: 10px 0 20px 0;
	float: right;
}
#content .post-comment.add-button:hover,
#content .post-comment.add-button.active {
	margin-top: 11px;
}
#content .single-page .comment-details {
	font-size: 0.9em;
	padding: 10px 0 5px;
}
#content .single-page .comment-details .add-button {
	font-size: 0.9em;
	height: 15px;
	margin-top: 0;
}
#content .single-page .comment-details .add-button:hover {
	margin-top: 1px;
}
#content .single-page .comment-details .edit-comment {
	cursor: pointer;
}
#content .single-page .office-post-comment .comment-single-attachment {
	float: right;
	margin: 0 0 10px 10px;
}
#content .single-page .office-post-comment .comment-single-attachment img {
	border: 1px solid #333333;
	width: 150px;
	height: auto;
}
#content .single-page .office-post-comment .comment-meta {
	display: block;
	width: 100%;
	clear: both;
}
/* Dashboard */
#quicklinks {
	position: relative;
	float: left;
	width: 20%;
	box-sizing: border-box;
	font-family: "Oswald", "Open Sans", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
	padding: 0 0 10px 0px;
}
#quicklinks.quicklinks-again {
	width: 30% !important;
}
#quicklinks h2 {
	margin-left: 0;
}
#dashboard-lists {
	width: 80%;
	box-sizing: border-box;
	height: 100%;
	float:left;
	position: relative;
	padding-left: 20px;
}
#dashboard-lists .dashboard-half {
	width: 50%;
	box-sizing: border-box;
	float: left;
	padding: 0px 0px;
	margin-bottom: 20px;
}
#dashboard-lists h2 {
	margin-left: 0;
}
#dashboard-lists h2 a {
	color: #333333;
}
#dashboard-lists h2 a:hover {
	color: #FF4D4D;
}
#dashboard-lists .dashboard-half:first-child .office-post {
	margin-right: 20px;
}
#dashboard-lists .office-post .post-meta {
	margin: 25px 10px 0 0;
}
#dashboard-lists .office-post .tooltip {
	top: -44px;
}
#dashboard-lists .office-post .post-favorite .favorite-this {
	top: -44px;
	margin-left: -82.5px;
}
#dashboard-lists .office-post.high-priority .high-priority-alert {
	float: right;
	margin: 25px 10px 0 0;
	color: #A61919;
}
#dashboard-lists .office-post .post-due-bump-date {
	margin: 25px 10px 0 0;
}
#dashboard-lists .office-post .favorite-this:after,
#dashboard-lists .office-post .favorite-this:before {
	left: 85%;
}
/**/

/* Proile Page */
#profile-page .profile-left,
#profile-page .profile-right {
	width: 50%;
	box-sizing: border-box;
	margin: 0 0 20px 0;
	float:left;
}
#profile-page .profile-left {
	padding-right: 20px;
}
#profile-page .vacation-box .vacation-details {
	width: 145px;
	height: 100px;
	text-align: center;
	display: inline-block;
	margin: 5px 10px;
	border: 1px solid #858585;
	border-radius: 3px;
}
#profile-page .vacation-box .vacation-details span {
	display: block;
}
#profile-page .vacation-box .vacation-details .update-something-form {
	padding: 5px;
	height: auto;
}
#profile-page .update-something-form .vacation-box h3 {
	background: #333333;
	padding: 5px;
	border-radius: 3px;
}
#profile-page .vacation-box .vacation-details .update-something-form .delete-post {
	height: auto;
}
#profile-page .vacation-box .vacation-details .delete {
	float: left;
	margin-left: 25px;
	background: #FF4D4D;
	color: #ffffff;
	box-shadow: inset 0 -3px rgba(51,51,51,0.5);
	margin-top: 10px !important;
}
#profile-page .vacation-box .vacation-details .delete:hover {
	margin-top: 11px !important;
	height: 29px;
	box-shadow: inset 0 -2px rgba(51,51,51,0.5);
}

/* Admin Page */
#content #admin-page .office-post .post-meta {
	margin-top: 15px;
}

/* Calendar */
#calendar-page {
}
#calendar-page.inner-page {
	padding: 0;
}
.calendar-header {
	height: 30px;
	padding: 5px 0;
	box-sizing: border-box;
	position: relative;
	/*background: #d5d5d5;*/
	color: #333333;
	font-size: 0.9em;
}
.calendar-header .calendar-key {
	/*text-align: center;*/
	/*margin: 0 auto;*/
	float: left;
}
.calendar-header .key-desc {
	padding: 1px 2px 0;
	float: left;
	/*text-align: center;*/
	cursor: pointer;
	margin-right: 5px;
}
.calendar-header .key-desc .key-color.disabled {
	background: #a5a5a5 !important;
}
.calendar-header .key-color {
	display: inline-block;
	height: 12.5px;
	width: 12.5px;
	margin-right: 3px;
	border-radius: 3px;
}
.calendar-header .key-title {
	font-size:1em;
	display: inline-block;
}
.calendar-header .key-title:hover {
	color: #2E9999;
}
.calendar-days {
	width: 100%;
	height: 100%;
	margin: 0 auto;
}
.calendar-days .days-of-week {
	padding: 0 0;
	margin: 0px;
	/*width: 100%;*/
	font-size: 1.2em;
	height: 32px;
}
.calendar-days .days-of-week .day {
	width: 14.285714286%;
	box-sizing: border-box;
	margin: 0px;
	padding: 5px 0;
	background: #fafafa;
	float:left;
	display: block;
	text-align: center;
	/*box-shadow: inset -1px -1px 0 0 rgba(32,32,32,0.2);*/
	border-right: 1px solid #e5e5e5;
	border-bottom: 1px solid #e5e5e5;
}
.calendar-days .days-of-month {
	width: 100%;
	height: 100%;
}
.calendar-days .days-of-month .day {
	width: 14.285714286%;
	height: 20%;
	box-sizing: border-box;
	/*padding-top: 20px;*/
	padding: 1px 0;
	margin: 0px 0px 0;
	background: #fafafa;
	display: inline-block;
	/*box-shadow: inset -1px -1px 0 0 rgba(32,32,32,0.2);*/
	border-right: 1px solid #e5e5e5;
	border-bottom: 2px solid #e5e5e5;
	font-size: 1em;
	line-height: 1em;
	text-align: center;
	vertical-align: middle;
	cursor: context-menu;
	overflow: hidden;
}
.calendar-days .days-of-month .day:hover {
	/*box-shadow: inset -1px -1px 0 0 rgba(32,32,32,0.3);*/
	background: #d5d5d5;
}
.calendar-days .days-of-month .day .day-num {
	position: absolute;
	top: calc(50% - 31px);
	top: 2px;
	left: 0px;
	/*background: #fafafa;*/
	padding: 3px;
}
.calendar-days .days-of-month .today {
	/*box-shadow: inset -1px -1px 0 0 rgba(32,32,32,0.3);*/
	background: #d5d5d5;
}
.calendar-days .days-of-month .this-month {
	position: relative;
}
.calendar-days .days-of-month a.calendar-post-title {
	font-size: 0.9em;
	line-height: 1.5em;
	color: #ffffff;
	text-align:center;
	text-decoration: none;
	float:left;
	width: 100%;
	height:18px;
	margin: 1px 0 0;
}
.calendar-header .key-news,
.calendar-days .days-of-month a.calendar-post-title.news-article-link {
	border-top: 1px solid rgba(75,131,180,1);
	border-bottom: 1px solid rgba(75,131,180,1);
	background: rgba(75,131,180, 0.7);
}
.calendar-header .key-anniversary,
.calendar-days .days-of-month a.calendar-post-title.user-anniversary-link {
	border-top: 1px solid rgba(116,39,155,1);
	border-bottom: 1px solid rgba(116,39,155,1);
	background: rgba(116,39,155, 0.7);
}
.calendar-days .days-of-month a.calendar-post-title.user-anniversary-link:hover {
	text-decoration: none;
	cursor: context-menu;
}
.calendar-header .key-project,
.calendar-days .days-of-month a.calendar-post-title.projects-post-link {
	border-top: 1px solid rgba(255,117,55,1);
	border-bottom: 1px solid rgba(255,117,55,1);
	background: rgba(255,117,55,0.7);
}
.calendar-header .key-tasks,
.calendar-days .days-of-month a.calendar-post-title.user-tasks-link {
	border-top: 1px solid rgba(204,0,0,1);
	border-bottom: 1px solid rgba(204,0,0,1);
	background: rgba(204,0,0,0.7);
}
.calendar-header .key-vacations,
.calendar-days .days-of-month a.calendar-post-title.user-vacation-link {
	border-top: 1px solid rgba(46,153,153,1);
	border-bottom: 1px solid rgba(46,153,153,1);
	background: rgba(46,153,153,0.7);
}
.calendar-days .days-of-month a.calendar-post-title.user-vacation-link-end {
	padding-right:0px;
}
.calendar-days .days-of-month a.calendar-post-title.user-vacation-link:hover {
	text-decoration: none;
	cursor: context-menu;
}
.calendar-days .days-of-month a.calendar-post-title:hover {
	text-decoration: underline;
}
.calendar-days .days-of-month .last-month,
.calendar-days .days-of-month .next-month {
	opacity: 0.6;
	position:relative;
}
.calendar-days .days-of-month .last-month small,
.calendar-days .days-of-month .next-month small {
	font-size:0.4em;
	position: absolute;
	top:0px;
	right:5px;
}

/* 404 Page */
#fourOhFour-page {
	padding: 20px;
}
#fourOhFour-page p {
	margin: 10px auto;
	width: 300px;
	text-align: center;
	font-size:1.5em;
}
#fourOhFour-page span {
	margin: 10px auto;
	width: 300px;
	text-align: center;
	display: block;
	color: #888;	
}
#fourOhFour-page p.alert-icon span {
	font-size:8em;
	color: #FF4D4D;
}
#fourOhFour-page a:hover,
#fourOhFour-page a span:hover {
	text-decoration: none;
	color: #FF4D4D !important;
}
/* Footer */
#footer {
	display: block;
	clear:both;
	font-size:1.2em;
	width: 100%;
	box-sizing: border-box;
	height: 100%;
	padding: 10px 0px 10px 20px;
	background: #333333;
}
#footer .footer-text {
	color: #ffffff;
	letter-spacing: 0.0625em;
	padding:5px 1px 5px 0px;
}

/* Homer Simpson */
#homer * {
    position: absolute;
    box-sizing:content-box;
    -moz-box-sizing:content-box;
}
#homer {
    position: relative;
    width: 94px;
    height: 133px;
    margin: 0 auto;
    border-bottom: 2px solid #333333;
}
#homer .head * {
    border: 1px solid #110b00;
}
#homer .head .no-border {
    border: none;
}
#homer .head .body {
    background: #fbd800;
}
#homer .head .hair1 {
    top: 14px;
    left: 0px;    
    height:13px;
    width:22px;
    border-radius: 22px 22px 0 0;
    -moz-border-radius: 22px 22px 0 0;
    -webkit-border-radius: 22px 22px 0 0;
    background: transparent;
    -webkit-transform: rotate(-44deg);
    -ms-transform: rotate(-44deg);
    transform: rotate(-44deg);
    border-bottom: none;
}
#homer .head .hair2 {
    top: 8px;
    left: 9px;    
    height:16px;
    width:26px;
    border-radius: 32px 32px 0 0;
    -moz-border-radius: 32px 32px 0 0;
    -webkit-border-radius: 32px 32px 0 0;
    background: transparent;
    -webkit-transform: rotate(-27deg);
    -ms-transform: rotate(-27deg);
    transform: rotate(-27deg);
    border-bottom: none;
}
#homer .head .head-top {
    top: 15px;
    left: 2px;
    width: 65px;
    height: 62px;
    border-bottom: none;
    -webkit-transform: rotate(-24deg);
    -ms-transform: rotate(-24deg);
    transform: rotate(-24deg);
    -moz-border-radius: 43% 44% 0 0;
    -webkit-border-radius: 43% 44% 0 0;
    border-radius: 43% 44% 0 0;
    -webkit-box-shadow: inset 8px 12px 0px -12px rgba(247,254,140,1), inset 13px 3px 0px -11px rgba(247,254,140,1), inset -2px 0px 0px 0px rgba(229,158,4,1);
    -moz-box-shadow: inset 8px 12px 0px -12px rgba(247,254,140,1), inset 13px 3px 0px -11px rgba(247,254,140,1), inset -2px 0px 0px 0px rgba(229,158,4,1);
    box-shadow: inset 8px 12px 0px -12px rgba(247,254,140,1), inset 13px 3px 0px -11px rgba(247,254,140,1), inset -2px 0px 0px 0px rgba(229,158,4,1);
}
#homer .head .head-main {
    top: 40px;
    left: 17px;
    width: 48px;
    height: 62px;
    -webkit-transform: rotate(-24deg);
    -ms-transform: rotate(-24deg);
    transform: rotate(-24deg);
}
#homer .head .m1, #homer .head .m2, #homer .head .m3, #homer .head .m4 {
    width: 1px;
    height: 14px;
    background: #110b00;
}
#homer .head .m1 {
    top: 77px;
    left: 9px;
    -webkit-transform: rotate(-13deg);
    -ms-transform: rotate(-13deg);
    transform: rotate(-13deg);
}
#homer .head .m2 {
    top: 76px;
    left: 12px;
    height: 12px;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
#homer .head .m3 {
    top: 71px;
    left: 16px;
    height: 15px;
    -webkit-transform: rotate(1deg);
    -ms-transform: rotate(1deg);
    transform: rotate(1deg);
}
#homer .head .m4 {
    top: 70px;
    left: 21px;
    -webkit-transform: rotate(-39deg);
    -ms-transform: rotate(-39deg);
    transform: rotate(-39deg);
}
#homer .head .ear {
    top: 90px;
    left: 14px;
    width: 11px;
    height: 13px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}
#homer .head .ear .inner1 {
    top: 3px;
    left: 2px;
    width: 7px;
    height: 5px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    border-top: 1px solid #110b00;
    -webkit-transform: rotate(-21deg);
    -ms-transform: rotate(-21deg);
    transform: rotate(-21deg);
}
#homer .head .ear .inner2 {
    top: 3px;
    left: 4px;
    width: 7px;
    height: 5px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    border-top: 1px solid #110b00;
    -webkit-transform: rotate(-109deg);
    -ms-transform: rotate(-109deg);
    transform: rotate(-109deg);
}
#homer .head .ear .clip {
    top: 1px;
    left: 8px;
    width: 5px;
    height: 10px;
}
#homer .head .right-eye {
    top: 48px;
    left: 48px;
    width: 31px;
    height: 31px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: #ffffff;
    box-shadow: -2px -1px 0px 0px rgba(247,254,140,1);
    overflow: hidden;
}
#homer .head .right-eye .right-eye-pupil {
    top: 11px;
    left: 20px;
    width: 4px;
    height: 4px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: #110b00;
}
#homer .head .left-eye {
    top: 51px;
    left: 23px;
    width: 31px;
    height: 31px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: #ffffff;
    box-shadow: -1px -1px 0px 0px rgba(247,254,140,1);
    overflow: hidden;
}
#homer .head .left-eye .left-eye-pupil {
    top: 13px;
    left: 11px;
    width: 4px;
    height: 4px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: #110b00;
}
#homer .head .left-eye .eyelid-top {
    top: -21px;
    left: 0px;
    width: 30px;
    height: 20px;
    border-bottom: 1px solid #110b00;
    border-radius: 50% 50% 0 0;
    
    -webkit-animation-name: homerlefteyelidtop;
    -webkit-animation-duration: 10s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-delay: 1s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-play-state: running;
    animation-name: homerlefteyelidtop;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-delay: 1s;
    animation-iteration-count: infinite;
    animation-play-state: running;
}
#homer .head .left-eye .eyelid-bottom {
    bottom: -11px;
    left: 0px;
    width: 30px;
    height: 10px;
    border-top: 1px solid #110b00;
    border-radius: 0 0 50% 50%;
    -webkit-animation-name: homerlefteyelidbottom;
    -webkit-animation-duration: 10s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-delay: 1s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-play-state: running;
    animation-name: homerlefteyelidbottom;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-delay: 1s;
    animation-iteration-count: infinite;
    animation-play-state: running;
}
@-webkit-keyframes homerlefteyelidtop {
0% {top: -21px;}
2% {top: 0px;}
4% {top: -21px;}
100% {top: -21px;}
}
@keyframes homerlefteyelidtop {
0% {top: -21px;}
2% {top: 0px;}
4% {top: -21px;}
100% {top: -21px;}
}
@-webkit-keyframes homerlefteyelidbottom {
0% {bottom: -11px;}
2% {bottom: 0px;}
4% {bottom: -11px;}
100% {bottom: -11px;}
}
@keyframes homerlefteyelidbottom {
0% {bottom: -11px;}
2% {bottom: 0px;}
4% {bottom: -11px;}
100% {bottom: -11px;}
}
#homer .head .right-eye .eyelid-top {
    top: -18px;
    left: 0px;
    width: 30px;
    height: 17px;
    border-bottom: 1px solid #110b00;
    border-radius: 50% 50% 0 0;
    -webkit-animation-name: homerrighteyelidtop;
    -webkit-animation-duration: 10s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-delay: 1s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-play-state: running;
    animation-name: homerrighteyelidtop;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-delay: 1s;
    animation-iteration-count: infinite;
    animation-play-state: running;
}
#homer .head .right-eye .eyelid-bottom {
    bottom: -11px;
    left: 0px;
    width: 30px;
    height: 10px;
    border-top: 1px solid #110b00;
    border-radius: 0 0 50% 50%;
    -webkit-animation-name: homerrighteyelidbottom;
    -webkit-animation-duration: 10s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-delay: 1s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-play-state: running;
    animation-name: homerrighteyelidbottom;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-delay: 1s;
    animation-iteration-count: infinite;
    animation-play-state: running;
}
@-webkit-keyframes homerrighteyelidtop {
0% {top: -18px;}
2% {top: 0px;}
4% {top: -18px;}
100% {top: -18px;}
}
@keyframes homerrighteyelidtop {
0% {top: -18px;}
2% {top: 0px;}
4% {top: -18px;}
100% {top: -18px;}
}
@-webkit-keyframes homerrighteyelidbottom {
0% {bottom: -11px;}
2% {bottom: 0px;}
4% {bottom: -11px;}
100% {bottom: -11px;}
}
@keyframes homerrighteyelidbottom {
0% {bottom: -11px;}
2% {bottom: 0px;}
4% {bottom: -11px;}
100% {bottom: -11px;}
}
#homer .head .nose {
    top: 71px;
    left: 50px;
    width: 18px;
    height: 12px;
    border-left: none;
    border-right: none;
    -webkit-transform: rotate(-13deg);
    -ms-transform: rotate(-13deg);
    transform: rotate(-13deg);
}
#homer .head .nose-tip {
    top: 69px;
    left: 60px;
    width: 14px;
    height: 12px;
    border-left: none;
    -moz-border-radius: 0 50% 50% 0%;
    -webkit-border-radius: 0 50% 50% 0;
    border-radius: 0 50% 50% 0;
    -webkit-transform: rotate(-13deg);
    -ms-transform: rotate(-13deg);
    transform: rotate(-13deg);
}
#homer .head .neck1 {
    top: 85px;
    left: 16px;
    width: 6px;
    height: 31px;
    background: transparent;
    border-right: 1px solid #110b00;
    border-radius: 50% 50% 25% 50%;
    -webkit-transform: rotate(-14deg);
    -ms-transform: rotate(-14deg);
    transform: rotate(-14deg);
    -webkit-box-shadow: 2px 0px 0px 0px rgba(247,254,140,1), 5px 0px 0px 0px rgba(251,216,0,1);
    -moz-box-shadow: 2px 0px 0px 0px rgba(247,254,140,1), 5px 0px 0px 0px rgba(251,216,0,1);
    box-shadow: 2px 0px 0px 0px rgba(247,254,140,1), 5px 0px 0px 0px rgba(251,216,0,1);
}
#homer .head .neck2 {
    top: 114px;
    left: 25px;
    width: 45px;
    height: 19px;
    border-top: none;
    border-bottom: none;
    -webkit-box-shadow: inset 2px 0px 0px 0px rgba(247,254,140,1);
    -moz-box-shadow: inset 2px 0px 0px 0px rgba(247,254,140,1);
    box-shadow: inset 2px 0px 0px 0px rgba(247,254,140,1);
}
#homer .head .mouth1 {
    top: 86px;
    left: 28px;
    width: 48px;
    height: 44px;
    background: #cfae67;
    -moz-border-radius: 46% 52% 44% 50%;
    -webkit-border-radius: 46% 52% 44% 50%;
    border-radius: 46% 52% 44% 50%;
    -webkit-box-shadow: inset -1px -1px 0px 0px rgba(152,110,36,1);
    -moz-box-shadow: inset -1px -1px 0px 0px rgba(152,110,36,1);
    box-shadow: inset -1px -1px 0px 0px rgba(152,110,36,1);
}
#homer .head .mouth2 {
    top: 101px;
    left: 43px;
    width: 48px;
    height: 12px;
    background: #cfae67;
    -moz-border-radius: 46% 52% 44% 50%;
    -webkit-border-radius: 46% 52% 44% 50%;
    border-radius: 46% 52% 44% 50%;
    -webkit-transform: rotate(-15deg);
    -ms-transform: rotate(-15deg);
    transform: rotate(-15deg);
    -webkit-box-shadow: inset -1px 0px 0px 0px rgba(152,110,36,1);
    -moz-box-shadow: inset -1px 0px 0px 0px rgba(152,110,36,1);
    box-shadow: inset -1px 0px 0px 0px rgba(152,110,36,1);
}
#homer .head .mouth3 {
    top: 102px;
    left: 35px;
    width: 48px;
    height: 12px;
    background: transparent;
    -moz-border-radius: 46% 52% 44% 50%;
    -webkit-border-radius: 46% 52% 44% 50%;
    border-radius: 46% 52% 44% 50%;
    border-bottom: 1px solid #110b00;
    -webkit-transform: rotate(-4deg);
    -ms-transform: rotate(-4deg);
    transform: rotate(-4deg);
}
#homer .head .mouth4 {
    top: 110px;
    left: 38px;
    width: 7px;
    height: 5px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    border-top: 1px solid #110b00;
    -webkit-transform: rotate(-81deg);
    -ms-transform: rotate(-81deg);
    transform: rotate(-81deg);
}
#homer .head .mouth5 {
    top: 84px;
    left: 64px;
    width: 27px;
    height: 13px;
    background: transparent;
    -moz-border-radius: 46% 52% 44% 50%;
    -webkit-border-radius: 46% 52% 44% 50%;
    border-radius: 46% 52% 44% 50%;
    -webkit-transform: rotate(-131deg);
    -ms-transform: rotate(-131deg);
    transform: rotate(-131deg);
    border-top: none;
    -webkit-box-shadow: inset -1px -1px 0px 0px rgba(152,110,36,1);
    -moz-box-shadow: inset -1px -1px 0px 0px rgba(152,110,36,1);
    box-shadow: inset -1px -1px 0px 0px rgba(152,110,36,1);
}
#homer .head .mouth6 {
    top: 84px;
    left: 46px;
    width: 32px;
    height: 31px;
    background: #cfae67;
    -webkit-transform: rotate(-18deg);
    -ms-transform: rotate(-18deg);
    transform: rotate(-18deg);
    -moz-border-radius: 0 0 0px 22px;
    -webkit-border-radius: 0 0 0px 22px;
    border-radius: 0 0 0px 22px;
}
#homer .head .mouth7 {
    top: 104px;
    left: 62px;
    width: 17px;
    height: 12px;
    background: #cfae67;
    -moz-border-radius: 46% 52% 44% 50%;
    -webkit-border-radius: 46% 52% 44% 50%;
    border-radius: 46% 52% 44% 50%;
    border-left: none;
    border-bottom: none;
    -webkit-transform: rotate(6deg);
    -ms-transform: rotate(6deg);
    transform: rotate(6deg);
}
#homer .head .mouth8 {
    top: 79px;
    left: 71px;
    width: 15px;
    height: 30px;
    background: #cfae67;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    -webkit-transform: rotate(-30deg);
    -ms-transform: rotate(-30deg);
    transform: rotate(-30deg);
}
#homer .homer-quote {
	border: 3px solid #333333;
	border-radius: 15px;
	background: #fff;
	padding: 5px;
	top: -20px;
	left: 120px;
	width: 200px;
}
#homer .homer-quote:before {
	content: "";
	position: absolute;
	z-index: 1;
	bottom: -35px;
	left: 0px;
	height: 30px;
	border-right: 60px solid #333333;
	background: #333333;
	-webkit-border-bottom-right-radius: 80px 50px;
	-moz-border-radius-bottomright: 80px 50px;
	border-bottom-right-radius: 80px 50px;
	-webkit-transform: translate(0, -2px);
	-moz-transform: translate(0, -2px);
	-ms-transform: translate(0, -2px);
	-o-transform: translate(0, -2px);
	transform: translate(0, -2px);
}
#homer .homer-quote:after {
	content: "";
	position: absolute;
	z-index: 1;
	bottom: -35px;
	left: 0px;
	width: 60px;
	height: 30px;
	background: #fafafa;
	-webkit-border-bottom-right-radius: 40px 50px;
	-moz-border-radius-bottomright: 40px 50px;
	border-bottom-right-radius: 40px 50px;
	-webkit-transform: translate(-30px, -2px);
	-moz-transform: translate(-30px, -2px);
	-ms-transform: translate(-30px, -2px);
	-o-transform: translate(-30px, -2px);
	transform: translate(-30px, -2px);
}

/* Responsive Tweaks */
/* 996px:745px, 765px:475px, 475px:100% */
@media
	only screen and (max-width: 996px) {
		#nav_menu #menu_header ul#menu_links li.link {
			font-size:1em;
		}
	}
@media
	only screen and (max-width: 765px) {
		#nav_menu #menu_header ul#menu_links li.link span {
			display: none;
		}
		#menu_header ul#menu_links li.link span:before,
		#menu_header ul#menu_links li.link a:before {
			font-size:2.2em;
		}
	}
@media
	only screen and (max-width: 475px) {
		
}