/* Reset */
* { margin:0; padding:0; outline:0; }

/*
insideout.com
Orange: #A95306 - 
Yellow: #D5A829 - 213,168,41
Blue: #b5cde0

using these:
Blue: #4B83B4 - 75,131,180
Pink/Red: #FF4D4D - 255,77,77
		  #f4726d
Green: #2E9999 - 46,153,153
Brown: #BF885B - 191,136,91

alternate:
Orange: A95306
Orange2: A97506
Blue: 102A72 4B83B4
Green: 055F67
*/

/* General */
body {
	text-align:left;
	background: #333333;
	/*background: #eee url('../images/ticks.png') top left;*/
	font-family: "Open Sans", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #333333;
	font-size: 62.5%;
	font-weight: 300;
	letter-spacing: 0.1em;
	margin:0px;
	padding:0px;
	height: 100%;
}
h1, h2, h3, h4, h5 {
	font-family: "Oswald", "Open Sans", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 300;
	letter-spacing: 0.1em;
}
::selection {
	background: #D5A829;
}
::-moz-selection {
	background: #D5A829;
}
a {
	color: #2E9999;
	text-decoration: none;
}
a:hover {
	color: #FF4D4D;
	text-decoration: underline;
}
ul {
	list-style:none;
}
.clear {
	clear:both;
}
.right {
	float:right;
}
.left {
	float:left;
}
.none {
	display: none;
}
.required {
	color: red;
}
.break-heart:before {
	display: inline-block;
	margin-left: -15px;
	margin-right: 5px;
	-webkit-transform:rotate3d(1,0,0,0deg)
	rotate3d(0,1,0,180deg)
	rotate3d(0,0,1,-5deg);
}
.select-dropdown {
	overflow: hidden;
	background: #fafafa;
	/*border: 1px solid rgba(51,51,51,0.5);*/
	border-radius: 3px;
	position: relative;
	cursor: pointer;
	padding: 0px 0px 0px 0px;
	box-shadow: inset 0px -3px rgba(51,51,51,0.5),
				0px 0px 3px rgba(51,51,51,0.5);
	height: 27.5px;
	display: inline-block;
}
.select-dropdown .ss-dropdown:before {
	position: absolute;
	right: 4px;
	bottom: 3px;
	font-size: 0.5em;
	color: #000;
	z-index: 1;
}
.select-dropdown .ss-directup:before {
	position: absolute;
	right: 4px;
	top: 4px;
	font-size: 0.5em;
	color: #000;
	z-index: 1;
}
select {
	font-size: 1em;
	font-weight: 300;
	height: 27.5px;
	color: #333333;
	font-family: "Oswald", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
	padding: 0px 20px 0px 5px;
	margin: 0;
	box-shadow: none;
	border: 0;
	-webkit-appearance: window;
	-moz-appearance: window;
	appearance: window;
	text-indent: 0.01px;
	text-overflow: '';
	background: transparent;
	cursor: pointer;
	position: relative;
	z-index: 2;
}

/*.horizontal-rule {
	margin-bottom: 10px;
}
.global-hrule {
	border: 0;
    height: 1px;
    background: #333;
    background-image: -webkit-linear-gradient(left, #ccc, #333, #ccc);
    background-image:    -moz-linear-gradient(left, #ccc, #333, #ccc);
    background-image:     -ms-linear-gradient(left, #ccc, #333, #ccc);
    background-image:      -o-linear-gradient(left, #ccc, #333, #ccc);
}*/
noscript {
	position:fixed;
	top: 0;
	left: 0;
	z-index: 999999;
	width: 100%;
	height: 100%;
	background: #fafafa;
}
noscript p {
	color: #333;
	font-size: 1.4em;
	padding: 10px;
}
noscript span.alert {
	color: red;
}
.office-notice {
	background-color: #FAF2DB;
	color: #333333;
	border: 1px solid #D3C691;
	border-radius: 3px;
	margin: 20px 0px;
	padding: 10px;
}
.search-bar-active {
	padding-top: 40px;
	top: 40px;
}
#colorbox button {
	border:none !important;
}
.dropdown-menu {
	font-size:1.4em;
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 1000;
	display: none;
	float: left;
	min-width: 160px;
	padding: 5px 0;
	margin: 2px 0 0;
	list-style: none;
	background-color: #ffffff;
	border: 1px solid #ccc;
	border: 1px solid rgba(0, 0, 0, 0.2);
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	-webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	-webkit-background-clip: padding-box;
	-moz-background-clip: padding;
	background-clip: padding-box;
}
pre.script {
	width: 50%;
	border: 1px solid #D5A829;
	border-radius: 3px;
	background: #f5f5f5;
	color: #333333;
	/*box-shadow: inset 0px 0px 1px 0px #eeeeee;*/
	padding: 5px 10px;
	margin: 0 20px;
	white-space: pre-wrap;
}
pre.php {
	width: 50%;
	border: 1px solid #D5A829;
	border-radius: 3px;
	background: #f5f5f5;
	color: #333333;
	/*box-shadow: inset 0px 0px 1px 0px #eeeeee;*/
	padding: 5px 10px;
	margin: 0 20px;
	white-space: pre-wrap;
}

/* Checkboxes */
.checklist-checkbox-label label {
-webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
}

input[type=checkbox].checklist-checkbox {
	position: absolute; 
    overflow: hidden; 
    clip: rect(0 0 0 0); 
    height:1px; 
    width:1px; 
    margin:-1px; 
    padding:0;
    border:0;
}

input[type=checkbox].checklist-checkbox + label.checklist-checkbox-label {
	padding-left:20px;
	height:20px; 
	display:inline-block;
	line-height:20px;
	background-repeat:no-repeat;
	background-position: 0 0;
	font-size:15px;
	vertical-align:middle;
	cursor:pointer;
}

input[type=checkbox].checklist-checkbox:checked + label.checklist-checkbox-label {
	background-position: 0 -20px;
}
.custom-checkbox {
	background-image:url(../images/klaus.png);
}
.tooltip,
.favorite-this-text {
	position: absolute;
	top: -44px;
	left: 50%;
	margin-left: -49px;
	width: 80px;
	border-radius: 3px;
	background: #333333;
	color: #ffffff;
	text-align: center;
	padding: 2px 8px 4px;
	z-index: 1000;
}
.tooltip:after,
.favorite-this-text:after {
	top: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(51, 51, 51, 0);
	border-top-color: #333333;
	border-width: 5px;
	margin-left: -5px;
}
.post-tooltip,
.tooltip-hover {
	position: relative;
	cursor: pointer;
}
.tooltip-hover .tooltip {
	display: none;
}
.tooltip-hover:hover .tooltip {
	display: block;
	font-size: 0.8em;
}

/* Header */
#header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 60px;
	z-index: 57;
	clear: both;
	background: #333333;
}
.section {
	width: 100%;
	box-sizing: border-box;
	position:relative;
	margin:0;
}

/* Search Bar */
#search-box {
	display: none;
	width: 100%;
	box-sizing: border-box;
	margin: 0px 0px 0px 0;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 999;
	height: 20px;
	background: #555555;
}
#search-box input.search {
	border: none;
	width:100%;
	padding: 10px 5px 10px 20px;
	height: 20px;
	background: #555555;
	color: #ffffff;
	font-size: 1.4em;
}
#search-box input.search::-webkit-input-placeholder {
	color: #ffffff;
}
#search-box input.search::-moz-placeholder {
	color: #ffffff;
}

/* Main Menu */
#nav_menu {
	z-index:55;
	position: fixed;
	top: 0px;
	left: 0px;
	height: 60px;
	width: 100%;
	margin-top:0px;
	background: #333333;
	font-family: "Oswald", "Open Sans", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
#menu_header {
	height: 100%;
	width: 100%;
	position:relative;
	margin-left:0px;
	float:left;
}
.menu_nav {
	height: 100%;
}
#menu_header ul#menu_links {
	list-style:none;
	height: 100%;
}
#menu_header ul#menu_links li.link {
	float:left;
	font-size:1.4em;
	letter-spacing: 0.0625em;
	color: #ffffff;
	height: 45px;
	line-height: 60px;
	vertical-align: middle;
	padding: 15px 15px 0px 15px;
	margin:0px 0px;
	position:relative;
	text-align:left;
	cursor:pointer;
	z-index:56;
	border: none;
	background: #333333;
}
#menu_header ul#menu_links li.link#link-profile,
#menu_header ul#menu_links li.link#link-search {
	float: right;
}
#menu_header ul#menu_links li.link.active,
#menu_header ul#menu_links li.link.active a:before {
	background: #4B83B4;
}
#menu_header ul#menu_links li.link.hover,
#menu_header ul#menu_links li.link.hover a:before,
#menu_header ul#menu_links li.link.hover a.link-href span.link-text {
	color: #333333;
	background: #eeeeee;
}
#menu_header ul#menu_links li.link a.link-href {
	text-decoration: none;
	cursor: pointer;
	color: #fff;
	display: block;
	text-align: center;
	height: 45px;
	padding: 0;
}
#menu_header ul#menu_links li.link a.link-href span.link-text {
	height: 45px;
}
#menu_header ul#menu_links li.link a.link-href span.invoice-dollar {
	position: absolute;
	left: 0px;
	top: -12px;
	text-align: center;
	width: 100%;
	box-sizing: border-box;
	color: #333;
	font-weight: 700;
	text-shadow: none;
}
#menu_header ul#menu_links li.link.hover a.link-href span.invoice-dollar {
	color: #ffffff;
}
#menu_header ul#menu_links li.link a .link-image {
	display: block;
	border-radius: 5px;
	margin: -15px auto -20px;
	width: 35px;
}
#menu_header ul#menu_links li.link a:before {
	font-size: 24px;
	font-weight: 300;
	position: absolute;
	top: -10px;
	left: 0px;
	width: 100%;
	box-sizing: border-box;
	text-align: center;
	z-index: -1;
	color: #ffffff;
	margin-bottom: 0px;
	margin-top: 0px;
}
#menu_header ul#menu_links li.link span.linked-to {
	position: absolute;
	top: 25px;
	right: 1px;
	height: 20px;
	line-height: 20px;
	box-sizing: border-box;
	padding: 0 3px;
	text-align: center;
	color: #333333;
	font-weight: 400;
	font-size: 0.8em;
	z-index: 58;
	background: #FF4D4D;
	border-radius: 3px;
	border: none;
}
#menu_header ul#menu_links li.link span.linked-to a {
	color: #333333;
	width: 100%;
	height: 100%;
	display: block;
}
#menu_header ul#menu_links li.link span.linked-to a:hover {
	text-decoration: none;
	color: #ffffff;
}
#menu_header ul.sub_menu_links-hover {
	visibility: hidden;
	display: none;
	position: absolute;
	left: 0px;
	top: 60px;
	width: 140px;
	box-sizing: border-box;
	z-index: 59;
	border-bottom: 2px solid #333333;
	background: #eeeeee;
	box-shadow: 0 8px 6px -6px #333333,
	6px 2px 6px -6px #333333,
	-6px 2px 6px -6px #333333;
}
#menu_header #link-search ul.sub_menu_links-hover {
	left: -100%;
	text-align: right;
	padding-right: 10px;
}
#menu_header ul.sub_menu_links-hover li {
	position: relative;
	cursor: pointer;
	font-size: 1em;
	height: 20px;
	padding: 5px 0px 5px 15px;
}
#menu_header ul.sub_menu_links-hover li a {
	color: #333333;
	text-decoration: none;
	height: 20px;
	line-height: 20px;
	display: block;
}
#menu_header ul.sub_menu_links-hover li a:hover {
	text-decoration: underline;
}

/* Message Box */
#message-box,
#message-box-json {
	display: none;
	position: fixed;
	top: 60px;
	left: 0px;
	height: 60px;
	width: 100%;
	box-sizing: border-box;
	padding: 0;
	z-index: 54;
	font-size: 2em;
	background: #fafafa;
	box-shadow: 0px 3px 10px #333333;
}
#message-box .close-message,
#message-box-json .close-message {
	position: absolute;
	right: 1%;
	top: 15px;
	padding: 5px;
	color: #FF4D4D;
	cursor: pointer;
	z-index: 55;
}
#message-box .close-message:hover,
#message-box-json .close-message:hover {
	text-shadow: 1px 1px 1px #000000;
}
#message-box .action-message,
#message-box-json .action-message {
	margin: 10px 20px 0 20px;
	padding: 5px 1px 0;
	height: 30px;
	color: #000;
}
#message-box .action-message span,
#message-box-json .action-message span {
	background:none;
}
#message-box .action-message span:before,
#message-box-json .action-message span:before {
	padding-right: 5px;
}
#message-box .action-message .ss-check,
#message-box-json .action-message .ss-check,
#message-box .action-message .flash-message-success,
#message-box-json .action-message .flash-message-success {
	color: #4B83B4;
	padding:4px;
}
#message-box .action-message .ss-alert,
#message-box-json .action-message .ss-alert,
#message-box .action-message .flash-message-error,
#message-box-json .action-message .flash-message-error {
	color: #FF4D4D;
	padding:4px;
}

/* Page */
#page {
	font-size: 1.2em;
	width: 100%;
	box-sizing: border-box;
	margin: 60px 0 0px;
	background: #fafafa;
}

/* Page Content */
#content {
	width: auto;
	margin: 0;
	padding: 0;
	font-size: 1.2em;
	position: relative;
}
.inner-page {
	padding: 0px 40px 20px;
	position: relative;
}
.edit-page {
	background: #555555;
}
/* Page Title Header */
#content #page-title {
	background: #4B83B4;
	position: relative;
	height: 90px;
	width: 100%;
	box-sizing: border-box;
}
#content #page-title span.todays-date {
	position: absolute;
	top: 5px;
	right: 20px;
	color: #ffffff;
}
#content #page-title img.logo {
	position: absolute;
	top: 6px;
	left: 20px;
	opacity: 0.1;
	z-index: 0;
}
#content #page-title h1 {
	font-size: 2em;
	letter-spacing: 0.0225em;
	line-height: 90px;
	padding: 0 0px 0px 20px;
	margin: 0;
	color: #fff;
	float: left;
	z-index: 1;
	position: relative;
	font-family: "Open Sans", sans-serif;
}
/* Page Menu */
#page-nav_menu {
	width: 100%;
	box-sizing: border-box;
	height: 50px;
	background: #e5e5e5;
	overflow: hidden;
	padding-left: 30px;
	padding-right: 30px;
	font-family: "Oswald", "Open Sans", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
#page-nav_menu .add-button,
#content .add-button {
	text-decoration: none;
	height: 22.5px;
	color: #ffffff;
	background: #2E9999;
	border-radius: 3px;
	margin: 0px 5px;
	padding: 1.5px 10px 3.5px 10px;
	box-shadow: inset 0px -3px rgba(51,51,51,0.5);
	float: left;
	cursor: pointer;
	position: relative;
}
#page-nav_menu .add-button:hover,
#page-nav_menu .add-button.active,
#content .add-button:hover,
#content .add-button.active {
	margin-top: 1px;
	height: 21.5px;
	box-shadow: inset 0px -2px rgba(51,51,51,0.5);
	background: #FF4D4D;
}
#page-nav_menu .add-button:disabled,
#content .add-button:disabled {
	opacity: 0.5;
}
#page-nav_menu ul li {
	float: left;
	margin: 10px 7.5px 0 7.5px;
}
#page-nav_menu ul li.right {
	float: right;
}
#page-nav_menu ul li:first-child {
	margin-left: 0;
}
#page-nav_menu ul li a {
	height: 22.5px;
	color: #333333;
	margin: 0px 7.5px 0px;
	padding: 2.5px 10px 2.5px 10px;
	float: left;
	cursor: pointer;
	position: relative;
}
#page-nav_menu ul li a.active {
	color: #2E9999;
	font-weight: 300;
}
#page-nav_menu ul li a.active:after {
	top: calc(50% + 6px);
	left: calc(50% + 6px);
	border: solid transparent;
	content: "";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(51, 51, 51, 0);
	border-bottom-color: #fafafa;
	border-width: 10px;
	margin-left: -15px;
}
#page-nav_menu ul li a:hover {
	text-decoration: none;
	background: #858585;
	color: #ffffff;
	border-radius: 3px;
}
#page-nav_menu .page-meta {
	margin-left: 10px;
	font-size: 1.3em;
	padding: 0 10px;
	color: #858585;
}
#page-nav_menu .page-meta a {
	color: #2E9999;
	padding: 0 0 5px 0;
	margin: 0;
}
#page-nav_menu .page-meta a:hover {
	background: none;
	color: #2E9999;
}
#page-nav_menu .page-meta a:before,
#page-nav_menu .page-meta span:before {
	padding-right: 5px;
}
#page-nav_menu .page-meta .favorite-this {
	color: #858585;
}
#page-nav_menu .page-meta .favorite-this.favorited {
	color: #FF4D4D;
}
#page-nav_menu .page-meta .tooltip {
	top: calc(100% - 10px);
	width: 100px;
	text-align:left;
	margin-left: -30px;
	background: none;
	color: #333333;
	font-size: 0.7em;
}
#page-nav_menu .post-dates .post-date-box {
	border-left: 8px solid #FF4D4D;
	background: rgba(255,77,77,0.1);
	padding: 0 10px 0px;
	margin-top: -10px;
	height: 50px;
}
#page-nav_menu .post-dates .post-date-icon:before {
	font-size: 42px;
	color: #FF4D4D;
	float: left;
}
#page-nav_menu .post-dates .post-date-box .post-date {
	margin: 0px 0 0 60px;
	padding-top: 2.5px;
	display: block;
}
#page-nav_menu .post-dates .post-date-box .post-date-subbox {
	margin-left: 60px;
	display: block;
}
#page-nav_menu .post-progress {
	border-left: 8px solid #2E9999;
	background: rgba(46,153,153,0.1);
	height: 50px;
	margin-top: -10px;
	padding: 0 10px;
}
#page-nav_menu .post-progress div {
	display: inline-block;
	font-size: 1.6em;
	margin-top: 7.5px;
	letter-spacing: 0.25em;
}
#page-nav_menu .post-progress .post-progress-icon:before {
	font-size: 24px;
	color: #2E9999;
	margin-right: 10px;
}
#page-nav_menu .this-filter-show {
	cursor: pointer;
	position: relative;
}
#page-nav_menu a.account-status-active {
	color: #2E9999;
}
#page-nav_menu span.account-status-inactive {
	color: #FF4D4D;
}
#page-nav_menu a.account-website:hover {
	color: #FF4D4D;
}
#page-nav_menu a.account-pastdue {
	color: #FF4D4D;
}
#page-nav_menu .page-menu-sub {
	float: none;
	display: none;
	position: absolute;
	right: 275px;
	top: 130px;
	padding: 0px 10px 10px;
	z-index: 56;
	border: 1px solid rgba(51,51,51,0.3);
	border-radius: 3px;
	background: #ffffff;
	width: 150px;
	margin: 0 !important;
	box-shadow: 0 3px 6px #333333;
}
#page-nav_menu .page-menu-sub:after {
	top: -20px;
	right: 6px;
	border: solid transparent;
	content: "";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(51, 51, 51, 0);
	border-bottom-color: #ffffff;
	border-width: 10px;
	margin-left: -15px;
}
#page-nav_menu .page-menu-sub ul li {
}
#page-nav_menu .page-menu-sub ul li select {
	width: 140px;
	position: relative;
}
#page-nav_menu .page-menu-sub ul li select:first-child {
	margin-top: 0;
}
/* General Page Styles */
#content h2 {
	font-size: 1.5em;
	color: #333333;
	margin: 10px 0;
	font-weight: 500;
}
#content .edit-page h2 {
	color: #ffffff;
	margin-top: 0;
	padding-top: 10px;
}
#content h2 .count-of-total {
	float: right;
	padding-top: 4px;
}
#content h2.account-past-due:before {
	color: #FF4D4D;
}
#content h3 {
	font-size: 1.3em;
	color: #333333;
	margin: 10px 0;
	font-weight: 500;
}
#content h3 a {
	font-weight: 300;
}
#content p {
	margin: 0px;
}
#content .link-box-wrapper {
	display: inline-block;
	min-width: 50%;
}
#content .link-box {
	font-size: 1.2em;
	float: left;
	width: 45%;
	min-width: 100px;
	max-width: 200px;
	box-sizing: border-box;
	text-align: center;
	margin: 0px 10px 10px 0;
	padding: 0px 0px 0px 0px;
	position: relative;
}
#content .link-box a {
	position: relative;
	height: 60px;
	display: block;
	text-decoration: none;
	color: #ffffff;
	padding: 5px 0 10px;
	background: #555555;
	border-radius: 3px;
	box-shadow: inset 0px -5px rgba(51,51,51,0.7);
}
#content .link-box a:before {
	font-size: 24px;
	display:block;
	color: #ffffff;
}
#content .link-box:hover {
	/*padding-top: 2px;*/
}
#content .link-box a:hover {
	margin-top: 2px;
	height: 58px;
	background: #FF4D4D;
	box-shadow: inset 0px -3px rgba(51,51,51,0.5);
}
#content .link-box span {
	font-size:0.7em;
	padding: 5px;
	text-align:right;
	cursor:default;
	display:block;
	clear: both;
}
#content .link-box span.user-todo,
#content .link-box span.linked-to a {
	padding: 1px 8px;
	position: absolute;
	top: 1px;
	right: 1px;
	font-weight: 400;
	background: #FF4D4D;
	color: #333333;
	cursor: pointer;
	border-radius: 3px;
}
#content .link-box span.user-todo:hover,
#content .link-box span.linked-to a:hover {
	color: #ffffff;
}
#content .link-box span a {
	cursor: default;
}
#content .tag-name {
	margin: 5px 10px 5px 0;
	position: relative;
}
#content .tag-name a {
	background: #4B83B4;
	border: 1px solid rgba(75,131,180, 0.3);
	border-radius: 10px;
	padding: 3px 5px;
	color: #ffffff;
	font-weight: 300;
	cursor: pointer;
	position: relative;
}
#content .tag-name a:before {
	padding-right: 5px;
	vertical-align: middle;
	text-decoration: none;
}
#content .tag-name a:hover {
	text-decoration: none;
	border: 1px solid #FF4D4D;
	background: #FF4D4D;
}
#content .tag-name .remove-this-tag {
	background: rgba(51,51,51,0.7);
	color: rgba(255,255,255,0.7);
	/*border-left: 1px solid #ffffff;*/
	border-radius: 10px;
	padding: 5px 5px 3px 4px;
	margin-left: 5px;
	position: absolute;
	top: -4px;
	right: 0px;
}
#content .tag-name .remove-this-tag:hover {
	background: rgba(51,51,51,1);
	color: #ffffff;
}
/* General Form Styles */
#content .loading-something-new {
	background: #555555;
	display: block;
	width: 100%;
	box-sizing: border-box;
	padding: 10px;
	color: #ffffff;
}
#content .loading-something-changed {
	position: absolute;
	bottom: 10px;
	right: 0px;
	background: none;
	z-index: 50;
	color: #ffffff;
}
#content .loading-something-changed img {
	width: 16px !important;
	height: 16px !important;
}
#content .create-something-form {
	background: #555555;
	color: #ffffff;
	width: 100%;
	box-sizing: border-box;
	height: 100%;
	padding: 20px;
}
#content .update-something-form,
#content .edit-something-form {
	background: #555555;
	color: #ffffff;
	width: 100%;
	box-sizing: border-box;
	height: 100%;
	padding: 20px;
	margin: 0;
}
#content .create-something-form h2,
#content .update-something-form h2 {
	color: #ffffff;
	margin-top: 0;
}
#content .create-something-form h3,
#content .update-something-form h3 {
	color: #ffffff;
}
#content form.add-new-tag {
	/*display: inline-block;*/
	position: relative;
}
#content .add-new-tag-input {
	float: left;
	z-index: 99;
	height: 30px;
	width: 482px;
	margin-top: 3px;
	border-radius: 3px;
	color: #ffffff;
	background: #555555;
	box-shadow: 0px 5px 10px 0px #111111;
	border: 1px solid #ffffff;
	display: inline-block;
	padding-left: 10px;
	font-size: 1.2em;
}
#content .new-form-field {
	border-radius: 3px;
	width: 100%;
	display: block;
	position: relative;
}
#content .create-something-form .new-form-field:first-child {
	margin-bottom: 10px;
}
#content .new-form-field label {
	width: 200px;
	height: 25px;
	padding: 5px 10px 5px 0px;
	vertical-align: top;
	display: inline-block;
}
#content .new-form-field input[type=text],
#content .new-form-field input[type=email],
#content .new-form-field input[type=password],
#content .new-form-field textarea {
	padding: 5px;
	height: 20px;
	font-size: 1em;
	border: none;
	border-radius: 3px;
	margin: 5px 0;
	width: calc(100% - 230px);
}
#content .new-form-field textarea {
	margin-top: 10px;
	height: 200px;
}
#content .new-form-field .select-dropdown,
#content .new-form-field input[type=file] {
	margin-top: 5px;
}
#content .new-form-field .form-action-buttons {
	padding-left: 210px;
	width: 100%;
	box-sizing: border-box;
}
#content .new-form-field .form-action-buttons .form-action-button {
	display: inline-block;
	background: #d5d5d5;
	border: none;
	border-radius: 3px;
	padding: 5px 8px;
	margin: 5px 5px 0 0;
	box-shadow: inset 0px -3px #858585;
	font-size: 0.9em;
	color: #333333;
	cursor: pointer;
	height: 20px;
}
#content .new-form-field .form-action-buttons .form-action-button:before {
	padding-right: 5px;
}
#content .new-form-field .form-action-buttons .form-action-button:hover,
#content .new-form-field .form-action-buttons .subscribe-selected {
	background: #FF4D4D;
	color: #ffffff;
	box-shadow: inset 0px -3px rgba(51,51,51,0.5);
}
#content .tags-added-ajax {
	margin:10px 0 10px 210px;
}
#content .accounts-search-ajax,
#content .tags-search-ajax {
	padding: 5px 0;
	background: #333333;
	color: #ffffff;
	box-shadow: 0px 5px 10px 0px #111111;
	border: 1px solid #ffffff;
	border-radius: 3px;
	position:absolute;
	top: 6px;
	left: 0;
	z-index: 100;
	width: 489px;
	box-sizing: border-box;
	display: none;
}
#content .new-form-field .accounts-search-ajax,
#content .new-form-field .tags-search-ajax {
	width: calc(100% - 220px);
	top: 35px;
}
#content .accounts-search-ajax span,
#content .accounts-search-ajax p,
#content .tags-search-ajax span,
#content .tags-search-ajax p {
	/*margin: 5px 5px 10px 5px !important;*/
	padding: 5px 10px;
	display: block;
	width: 100%;
	box-sizing: border-box;
	cursor: pointer;
}
#content .accounts-search-ajax span.accounts-searched {
	border-radius: 3px;
	background: #4B83B4;
	margin: 5px 5px;
	width: auto;
	display: inline-block;
}
#content .tags-search-ajax span.tags-searched {
	display: inline-block;
	width: auto;
}
#content .accounts-search-ajax span.accounts-searched:before,
#content .tags-search-ajax span.tags-searched:before {
	padding-right: 10px;
	vertical-align: middle;
}
#content .accounts-search-ajax span.accounts-searched:hover,
#content .accounts-search-ajax span.search-hover {
	background: #FF4D4D;
}
#content .tags-search-ajax span.tags-searched:hover,
#content .tags-search-ajax span.search-hover {
	/*background: rgba(255,255,255, 0.5);*/
	/*color: #333333;*/
}
#content .new-form-field.remove-this {
	border-radius: 0;
	background: rgba(255,77,77,0.5);
}
#content .new-form-field.add-task-buttons span {
	margin: 5px 5px 10px 0 !important;
	padding: 5px 20px !important;	
}
#content .new-form-field.add-task-buttons .tooltip {
	left: -50% !important;
}
#content .new-form-field .form-tags-searchbox input {
	width: 200px;
}
#content .new-form-field .form-tags-searchbox span.form-button {
	display: inline-block;
	margin-left: 20px;
}
#content .update-something-form .edit-attachments,
#content .update-something-form .edit-comment-attachments {
	padding-top: 30px;
	position: relative;
}
#content .update-something-form .edit-attachments p,
#content .update-something-form .edit-comment-attachments p {
	background: #353535;
	padding: 10px;
	border-radius: 3px;
}
#content .update-something-form .edit-attachments .post-edit-attachment,
#content .update-something-form .edit-comment-attachments .comment-edit-attachment {
	position: relative;
	width: 100px;
	height: 100px;
	display: inline-block;
	margin: 10px 10px 10px 0;
	/*box-shadow: 0px 3px #353535;*/
}
#content .update-something-form .edit-attachments .post-edit-attachment a .post-attachment,
#content .update-something-form .edit-comment-attachments .comment-edit-attachment a .comment-attachment {
	width: 100%;
	height: auto;
	border: 1px solid #353535;
}
#content .update-something-form .edit-attachments .delete-attachment,
#content .update-something-form .edit-comment-attachments .delete-attachment {
	position: absolute;
	top: 0;
	left: 0;
	padding: 0 46px 34px 5px;
	color: #FF4D4D;
	font-size: 48px;
	cursor: pointer;
}
/*#content input[type=file]::-webkit-file-upload-button {
	visibility: hidden;
}
#content input[type=file]::before {
	content: 'Choose Files';
	display: inline-block;
	background: #2E9999;
	border: none;
	border-radius: 3px;
	padding: 5px 8px;
	box-shadow: 0px 3px #333333;
	outline: none;
	white-space: nowrap;
	-webkit-user-select: none;
	-webkit-appearance: none;
	appearance: none;
	white-space: normal;
	cursor: pointer;
	font-weight: 300 !important;
	font-size: 1.1em !important;
	line-height: 1.1em !important;
	font-family: "Oswald", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}
#content input[type=file]:hover::before {
	border-color: black;
}
#content input[type=file]:active::before {
	background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}*/
#content .form-button {
	border: none;
	text-align: center;
	display: inline-block;
	font-size: 1.1em;
	line-height: 1.1em;
	font-weight: 300;
	letter-spacing: 0.1em;
	font-family: "Oswald", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
	text-decoration: none;
	color: #ffffff;
	background: #2E9999;
	border-radius: 3px;
	margin: 5px 7.5px 1px 0;
	padding: 5px 20px 2.5px 20px;
	height: 22.5px;
	box-shadow: inset 0px -3px rgba(51,51,51,0.5);
	cursor: pointer;
	position: relative;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	white-space: normal;
}
#content input.form-button {
	height: 30px;
	padding-top: 0px;
}
#content .form-button.cancel {
	float: right;
	background: #a5a5a5;
}
#content .delete-post {
	width: 100%;
	height: 80px;
}
#content .form-button.delete {
	float: right;
	background: #555555;
	color: #555555;
	box-shadow: 1px 2px #656565;
	margin-top: 60px !important;
}
#content .form-button:hover {
	background: #FF4D4D;
	color: #ffffff;
	box-shadow: inset 0px -2px rgba(51,51,51,0.5);
	margin: 6px 7.5px 1px 0;
	height: 21.5px;
}
#content input.form-button:hover {
	height: 29px;
	padding-top: 1px;
}
/* General List Styles */
#content .office-post,
#content .office-post-comment {
	padding: 5px 18px 5px 10px;
	position: relative;
	height: 85px;
	margin: 0 0px 0px 0px;
	border-style: solid;
	border-width: 0px;
	border-left-width: 8px;
	border-color: #c5c5c5;
	background: #f5f5f5;
}
#content .office-post-comment {
	height: auto;
	padding: 10px;
}
#content .office-post-comment.office-post-sub-comment {
	margin-left: 40px;
}
#content .office-post-comment.current-user-comment {
	border-color: #2E9999;
}
#content .office-post-comment.office-post-comment-new {
	border-color: #4B83B4;
	background: rgba(75,131,180,0.2);
}
#content .office-post-comment.office-post-comment-edit {
	border-color: #FF4D4D;
}
#content .office-post:nth-child(2n),
#content .office-post-comment:nth-child(2n) {
	background: #e5e5e5;
}
#content .office-post h3 {
	margin: 0px 0;
	padding: 5px 0px 12.5px;
	height: 25px;
	line-height: 18px;
	overflow: hidden;
	position: relative;
}
#content .office-post .nothing-to-show {
	background: #eeeeee;
	border-radius: 3px;
	padding: 0 10px;
	margin: 5px 20px 0 0;
	height: 100%;
}
#content .office-post .nothing-to-show p {
	padding: 10px 0;
}
#content .office-post.sticky .sticky-icon {
	position: absolute;
	top: 0px;
	left: -21px;
	font-size: 1.1em;
	color: #FF4D4D;
}
#content .office-post.sticky {
	border-color: #E6E600;
}
#content .office-post.unread,
#content .office-post.user-list-standard {
	border-color: #4B83B4;
}
#content .office-post.due-now,
#content .office-post.user-list-admins {
	border-color: #FF4D4D;
}
#content .office-post.due-soon {
	border-color: #A61919;
}
#content .office-post.user-list-inactive {
	opacity: 0.7;
}
#content .office-post.high-priority {
	border-right: 8px solid #A61919;
	padding-right: 10px !important;
}
#content .office-post.high-priority .high-priority-alert {
	float: right;
	margin: 30px 20px 0 0;
	color: #A61919;
}
#content .office-post.high-priority .high-priority-alert:before {
	font-size: 24px;
}
#content .office-post.normal-priority,
#content .office-post.low-priority {
	padding-right: 18px;
}
#content .office-post .post-meta {
	float: right;
	position: relative;
	margin-top: 25px;
	margin-right: 20px;
	text-align: center;
}
#content .office-post .post-meta span:before,
#content .office-post .post-meta a:before {
	font-size: 24px;
	display: inline-block;
	vertical-align: middle;
	color: #a5a5a5;
}
#content .office-post .post-meta a:before {
	color: rgba(46,153,153,0.8);
}
#content .office-post .post-meta a:hover {
	text-decoration: none;
}
#content .office-post .post-meta .post-meta-desc {
	display: block;
}
#content .office-post .post-favorite .favorite-this.favorited:before {
	color: #FF4D4D;
}
#content .office-post .post-detail span {
	float: left;
}
#content .office-post .post-detail-last span {
	float: left;
	clear: left;
}
#content .office-post .post-due-date {
	color: #FF4D4D;
}
#content .office-post .post-date-text,
#content .office-post .post-due-text {
	padding-right: 5px;
}
#content .office-post.due-now .post-alert .post-due-text-alert {
	background-color: #FAF2DB;
	color: #333333;
	border: 1px solid #D3C691;
	border-radius: 3px;
	font-weight: 400;
	padding: 5px 10px;
}
#content .office-post.user-list .post-author span {
	margin-right: 10px;
	margin-top: 5px;
}
#content .pagination-footer {
	margin: 5px 0;
	display: block;
	width: 100%;
	height: 30px;
}
#content .pagination-footer .pagination li {
	float: left;
	margin: 0 10px 0 0;
	height: 29px;
	background: #c5c5c5;
	color: #858585;
	border-radius: 3px;
	box-shadow: inset 0 -3px rgba(51,51,51,0.5);
	cursor: pointer;
}
#content .pagination-footer .pagination li.active,
#content .pagination-footer .pagination li:hover {
	background: #FF4D4D;
	height: 28px;
	margin-top: 1px;
	box-shadow: inset 0 -2px rgba(51,51,51,0.5);
}
#content .pagination-footer .pagination li.disabled {
	background: #c5c5c5;
	box-shadow: inset 0 -3px rgba(51,51,51,0.5);
	height: 29px;	
	margin: 0 10px 0 0;
	cursor: not-allowed;
}
#content .pagination-footer .pagination li a,
#content .pagination-footer .pagination li span {
	padding: 5px 10px;
	display: block;
	color: #ffffff;
}
#content .pagination-footer .pagination li:first-child a,
#content .pagination-footer .pagination li:last-child a,
#content .pagination-footer .pagination li:first-child span,
#content .pagination-footer .pagination li:last-child span {
	font-size: 1.2em;
	padding: 0 10px 0 10px;
}
#content .pagination-footer .pagination li.disabled a,
#content .pagination-footer .pagination li.disabled span {
	color: #858585;
}
#content .pagination-footer .pagination li a:hover {
	text-decoration: none;
	color: #ffffff;
}
/* Projects List View */
#content #projects-page .project-post,
#content #todo-page .project-post {
	position: relative;
	padding: 10px 18px 10px 180px;
}
#content #projects-page .project-post h3,
#content #todo-page .project-post h3 {
	padding: 7.5px 0;
	line-height: 30px;
}
#content #projects-page .project-post .post-content,
#content #todo-page .project-post .post-content {
	line-height: 20px;
	height: 20px;
	overflow: hidden;
}
#content #projects-page .project-post .post-date,
#content #todo-page .project-post .post-date {
	position: absolute;
	left: 5px;
	top: 5px;
	padding: 5px;
	width: 150px;
	height: 100%;
}
#content #projects-page .project-post .post-date .change-project-date,
#content #todo-page .project-post .post-date .change-project-date {
	cursor: pointer;
	text-align: left;
	padding-left: 40px;
	width: calc(100% - 40px);
}
#content #projects-page .project-post .post-date .project-change-date,
#content #todo-page .project-post .post-date .project-change-date {
	position: absolute;
	top: 5px;
	left: 5px;
	color: #2E9999;
	font-size: 24px;
}
#content #projects-page .project-post .post-date .change-project-date .tooltip,
#content #todo-page .project-post .post-date .change-project-date .tooltip {
	top: -38px;
}
#content #projects-page .project-post .post-date .change-project-date:hover,
#content #todo-page .project-post .post-date .change-project-date:hover {
	background: rgba(51,51,51,0.2);
	color: #ffffff;
	border-radius: 3px;
}
#content #projects-page .project-post .post-alert,
#content #todo-page .project-post .post-alert {
	margin: 5px 0 0;
	width: 100%;
	display: block;
}
#content #projects-page .project-post .post-alert a,
#content #todo-page .project-post .post-alert a {
	color: #333333;
	font-size: 0.9em;
}
#content #projects-page .project-post .post-alert .post-due-text-alert,
#content #todo-page .project-post .post-alert .post-due-text-alert {
	margin: 0;
	padding: 2px 10px 2px 39px;
	width: calc(100% - 51px);
	display: block;
	text-align: left;
	position: relative;
}
#content #projects-page .project-post .post-activity,
#content #projects-page .project-post .post-attachment,
#content #todo-page .project-post .post-activity,
#content #todo-page .project-post .post-attachment,
#content #projects-page .project-post .post-subscribed,
#content #todo-page .project-post .post-subscribed {
	float: right;
	margin: 30px 20px 0 0;
	cursor: pointer;
	color: #a5a5a5;
}
#content #projects-page .project-post .post-activity a:hover,
#content #projects-page .project-post .post-attachment a:hover,
#content #todo-page .project-post .post-activity a:hover,
#content #todo-page .project-post .post-attachment a:hover,
#content #projects-page .project-post .post-subscribed a:hover,
#content #todo-page .project-post .post-subscribed a:hover {
	text-decoration: none;
}
#content #projects-page .project-post .post-activity .post-icon:before,
#content #projects-page .project-post .post-attachment .post-icon:before,
#content #todo-page .project-post .post-activity .post-icon:before,
#content #todo-page .project-post .post-attachment .post-icon:before,
#content #projects-page .project-post .post-subscribed .post-icon:before,
#content #todo-page .project-post .post-subscribed .post-icon:before {
	font-size: 24px;
}
#content #projects-page .project-post .post-subscribed .subscribed-to,
#content #todo-page .project-post .post-subscribed .subscribed-to {
	color: #FF4D4D;
}
#content #projects-page .project-post .post-assigned,
#content #projects-page .project-post .post-stage,
#content #todo-page .project-post .post-assigned,
#content #todo-page .project-post .post-stage {
	float: right;
	margin: 10px 0 0 10px;
	text-align: center;
	position: relative;
}

#content #projects-page .project-post .post-assigned .loading-something-changed,
#content #projects-page .project-post .post-stage .loading-something-changed,
#content #todo-page .project-post .post-assigned .loading-something-changed,
#content #todo-page .project-post .post-stage .loading-something-changed {
	bottom: -25px;
	right: 20px;
}
#content #projects-page .project-post .post-assigned img,
#content #todo-page .project-post .post-assigned img {
	width: 25px;
}
#content #projects-page .project-post .post-stage .change-project-stage .post-stage-text,
#content #todo-page .project-post .post-stage .change-project-stage .post-stage-text {
	margin-bottom: 10px;
	display: block;
	position: relative;
}

#content #projects-page .project-post .post-due-bump-date,
#content #todo-page .project-post .post-due-bump-date {
	/*display: inline-block;*/
}
#content #projects-page .project-post .post-due-bump-date:before,
#content #todo-page .project-post .post-due-bump-date:before {
	font-size: 16px;
	color: #2E9999;
	position: absolute;
	top: 0px;
	left: -31px;
}
#content #projects-page .project-post .post-due-bump-date:hover,
#content #todo-page .project-post .post-due-bump-date:hover {
	text-decoration: none;
}
#content #projects-page .project-post select.change-project-stage-list,
#content #todo-page .project-post select.change-project-stage-list {
	width: 125px;
}
#content #assets-page .back-to-vault-home {
	margin-top: 10px;
	display: block;
}
#content #assets-page .back-to-vault-home:before {
	margin-right: 5px;
}
/* Post Single View */
#content .office-post-single {

}
#content .office-post-single  h3,
#content .office-post-single  h4 {
	font-weight: 500;
}
#content .office-post-single  h3:before {
	padding-right: 5px;
}
#content .office-post-single .post-tags {
	display: block;
	height: 40px;
}
#content .office-post-single .post-tags .tags-added-ajax {
	margin-left: 0px;
	float: left;
}
#content .office-post-single .post-tags .add-button {
	margin: 8px 10px 8px 0;
	height: 18px;	
}
#content .office-post-single .post-tags .add-button:hover {
	margin-top: 9px;
	height: 17px;
}
#content .office-post-single .post-tags .tags-search-ajax {
	top: 34px;
}
#content .office-post-single .post-single-attachment {
	float: right;
	margin: 0 0 10px 10px;
}
#content .office-post-single .post-single-attachment img {
	border: 1px solid #353535;
}
#content .office-post-single .office-post-sub {
	clear: both;
	background: #e5e5e5;
	padding: 5px;
	margin: 10px 0;
	border-left: 8px solid #d5d5d5;
}
/* Project Singe View */
#content #projects-page .office-post-single .post-content {
	border-left: 8px solid #4B83B4;
	width: 68%;
	box-sizing: border-box;
	background: #e5e5e5;
	padding: 10px 10px;
	margin: 0px 2% 20px 0;
	float: left;
	min-height: 200px;
}
#content #projects-page .office-post-single .post-project-attachment {
	margin-top: 40px;
}
#content #projects-page .office-post-single .post-single-attachment {
	float: none;
	display: block;
	margin: 5px 0;
}
#content #projects-page .office-post-single .post-single-attachment img {
	width: 75px;
	height: auto;
	float: left;
	margin-right: 10px;
}
#content #projects-page .office-post-single .post-pdf-attachment img {
	width: 32px;
	border: none;
	vertical-align: middle;
}
#content #projects-page .office-post-single .post-project-account,
#content #projects-page .office-post-single .post-subscribed {
	border-left: 8px solid #4B83B4;
	width: 30%;
	box-sizing: border-box;
	background: #e5e5e5;
	padding: 10px 10px 5px;
	margin: 0px 0 0px;
	float: left;
	position: relative;
}
#content #projects-page .office-post-single .post-tags {
	border-left: 8px solid #4B83B4;
	width: 100%;
	height: auto;
	box-sizing: border-box;
	background: #e5e5e5;
	padding: 10px 20px;
	margin: 0 0 20px 0;
	display: block;
	clear: both;
	min-height: 60px;
}
#content #projects-page .office-post-single .post-project-account {
	min-height: 80px;
}
#content #projects-page .office-post-single .post-subscribed {
	min-height: 120px;
	margin-bottom: 20px;
}
#content #projects-page .office-post-single .post-project-account h3,
#content #projects-page .office-post-single .post-subscribed h3,
#content #projects-page .office-post-single .post-content h3 {
	margin-top: 0;
}
#content #projects-page .office-post-single .post-tags h3 {
	margin: 5px 10px 0 0;
	float: left;
}
#content #projects-page .office-post-single .post-project-account h4 {
	font-size: 1.3em;
	font-weight: 300;
}
#content #projects-page .office-post-single .post-subscribed a {
	display: block;
}
#content #projects-page .office-post-single .post-subscribed .user-subscribed {
	background: rgba(75,131,180,0.4);
	border: 1px solid #4B83B4;
	border-radius: 3px;
	color: #ffffff;
	display: inline-block;
	margin: 0px 10px 5px 0;
	padding: 2px 5px;
	font-size: 0.9em;
	cursor: pointer;
	position: relative;
}
#content #projects-page .office-post-single .post-subscribed .user-subscribed:before {
	vertical-align: middle;
	position: absolute;
	top: -5px;
	right: -5px;
	border-radius: 3px;
	visibility: hidden;
}
#content #projects-page .office-post-single .post-subscribed .user-subscribed:hover {
	background: rgba(255,77,77,0.4);
	border-color: #FF4D4D;
}
#content #projects-page .office-post-single .post-subscribed .user-subscribed:hover:before {
	color: #4B83B4;
	visibility: visible;
}
#content #projects-page .office-post-single .post-subscribed .select-dropdown {
	overflow: visible;
	font-size: 0.7em;
}
#content #projects-page .office-post-single .project-stage-due-date {
	border-left: 8px solid #FF4D4D;
	width: 16.6666666666666%;
	height: 90px;
	min-width: 175px;
	float: left;
	box-sizing: border-box;
	background: #e5e5e5;
	padding: 5px 18px 5px 10px;
	margin: 0px 0 20px;
	position: relative;
	text-align: center;
}
#content #projects-page .office-post-single .project-stage-due-date h3 {
	margin-top: 5px;
	vertical-align: middle;
}
#content #projects-page .office-post-single .project-stage-due-date h3:before,
#content #projects-page .office-post-single .project-stage-due-date h3 img {
	vertical-align: middle;
	color: #FF4D4D;
}
#content #projects-page .office-post-single .project-stage-due-date select {
	width: 125px;
}
#content #projects-page .office-post-single .project-stage-due-date .project-stage,
#content #projects-page .office-post-single .project-stage-due-date .project-due-date,
#content #projects-page .office-post-single .project-stage-due-date .project-launch-date {
	margin-top: 5px;
	display: block;
	font-size: 1.2em;
}
#content #projects-page .office-post-single .project-stage-due-date .project-due-date,
#content #projects-page .office-post-single .project-stage-due-date .project-launch-date {
	cursor: pointer;
}
#content #projects-page .office-post-single .project-stage-due-date .project-stage:before,
#content #projects-page .office-post-single .project-stage-due-date .project-due-date .post-due-date:before,
#content #projects-page .office-post-single .project-stage-due-date .project-launch-date .post-launch-date:before {
	font-size: 24px;
	color: #FF4D4D;
	margin-right: 10px;
	vertical-align: middle;
}
#content #projects-page .office-post-single .project-stage-due-date .project-due-date .post-due-date:hover,
#content #projects-page .office-post-single .project-stage-due-date .project-launch-date .post-launch-date:hover {
	background: rgba(51,51,51,0.1);
	border-radius: 3px;
	padding: 0px 10px;
}
#content #projects-page .office-post-single .project-stage-due-date .post-priority .priority-icon:before,
#content #projects-page .office-post-single .project-stage-due-date .post-manager .manager-icon:before {
	font-size: 24px;
	color: #FF4D4D;
	margin-right: 10px;
}
#content #projects-page .office-post-single .project-stage-due-date .post-assigned-to,
#content #projects-page .office-post-single .project-stage-due-date .post-priority {
	margin-top: 5px;
}
#content #projects-page .office-post-single .project-stage-due-date .post-assigned-to img {
	/*margin: 0 5px 0 0;*/
	width: 20px;
}
/* Project Checklists */
#content #projects-page .office-post-single .project-checklist {
	display: block;
	clear: both;
	margin-bottom: 5px;
}
#content #projects-page .office-post-single .checklist-section {
	width: 100%;
	box-sizing: border-box;
}
#content #projects-page .office-post-single .checklist-section h4 {
	border-left: 8px solid #FF4D4D;
	padding: 10px;
	font-size: 1.2em;
	background: #e5e5e5;
	cursor: pointer;
}
#content #projects-page .office-post-single .checklist-section h4.section-complete {
	border-color: #a5a5a5;
	background: #e5e5e5;
	opacity: 0.7;
	font-weight: 300;
}
#content #projects-page .office-post-single .checklist-section h4:before {
	font-size: 18px;
	vertical-align: middle;
	margin-right: 10px;
	cursor: pointer;
}
#content #projects-page .office-post-single .checklist-section .checklist-checkbox-section {
	padding: 10px;
}
#content #projects-page .office-post-single .checklist-section .checklist-checkbox-section label {
	padding-left: 30px;
}
#content #projects-page .office-post-single .checklist-section .checklist-checkbox-section input[type=checkbox]:checked + label {
	opacity: 0.7;
	text-decoration: line-through;
}
#content #projects-page .office-post-single .checklist-section .checklist-checkbox-section input[type=checkbox]:disabled + label {
	opacity: 0.7;
	cursor: not-allowed;
}
#content #projects-page .office-post-single .checklist-section .checklist-checkbox-section .checklist-skip-task {
	float: right;
	font-size: 0.9em;
	padding-top: 0;
	background: rgba(46,153,153,0.5);
}
#content #projects-page .office-post-single .checklist-section .checklist-header-progress {
	font-size: 0.8em;
}
/* Accounts Single View */
#content #accounts-page .office-post-single .post-tags,
#content #accounts-page .office-post-single .post-account-contact-info,
#content #accounts-page .office-post-single .post-account-billable-time,
#content #accounts-page .office-post-single .post-account-extras {
	border-left: 8px solid #4B83B4;
	width: 100%;
	height: auto;
	box-sizing: border-box;
	background: #e5e5e5;
	padding: 10px 20px;
	margin: 0 0 20px 0;
	display: block;
	clear: both;
	min-height: 60px;
}
#content #accounts-page .office-post-single .post-account-contact-info {
	min-height: 340px;
	font-size: 1.2em;
}
#content #accounts-page .office-post-single .post-tags h3 {
	margin: 5px 10px 0 0;
	float: left;
}
#content #accounts-page .office-post-single .post-account-contact-info .contact-info-map {
	float: right;
	border: 1px solid #333333;
	margin-top: 10px;
}
#content #accounts-page .office-post-single .post-account-contact-info .contact-info-field {
	margin-bottom: 5px;
}
#content #accounts-page .office-post-single .post-account-contact-info .contact-info-field .contact-info-icon:before {
	vertical-align: middle;
	padding-right: 5px;
}
#content #accounts-page .office-post-single .post-account-contact-info .contact-info-field.physical-address .contact-info-icon:before {
	vertical-align: top;
}
#content #accounts-page .office-post-single .post-account-contact-info .contact-info-field.physical-address .contact-info-multi-text {
	display: inline-block;
}
#content #accounts-page .office-post-single .post-account-contact-info .contact-info-field.physical-address .contact-info-text {
	display: block;
}
/* Post Comments */
#content .post-comment.add-button {
	margin: 10px 0 20px 0;
	float: right;
}
#content .post-comment.add-button:hover,
#content .post-comment.add-button.active {
	margin-top: 11px;
}
#content .single-page .comment-author-image {
	margin: 0 5px 10px 0;
	vertical-align: middle;
}
#content .single-page .comment-details {
	font-size: 0.9em;
	padding: 10px 0 5px;
	border-top: 1px solid #d5d5d5;
	margin-top: 10px;
	clear: both;
}
#content .single-page .comment-details .add-button {
	font-size: 0.9em;
	height: 20px;
	margin-top: 0;
}
#content .single-page .comment-details .add-button:hover {
	margin-top: 1px;
}
#content .single-page .comment-details .edit-comment {
	cursor: pointer;
}
#content .single-page .office-post-comment .comment-single-attachment {
	float: right;
	margin: 0 0 10px 10px;
}
#content .single-page .office-post-comment .comment-single-attachment img {
	border: 1px solid #333333;
	width: 150px;
	height: auto;
}
#content .single-page .office-post-comment .comment-meta {
	display: block;
	width: 100%;
	clear: both;
}
/* Tags Page */
#content #tags-page .tag-name {
	float: left;
	margin: 5px 5px 10px;
}
/* Vault Access */
#content .vault-access-form {
	width: 350px;
	margin: 30px auto;
}
#content .vault-access-form span:before {
	font-size: 48px;
	display: inline-block;
	vertical-align: middle;
}
#content .vault-access-form input {
	height: 50px;
	width: 250px;
	font-size: 2em;
	padding-left: 10px;
	margin: 0 auto;
	border-radius: 3px;
	border: 1px solid #d5d5d5;
}
#content .vault-post.office-post .vault-note {
	padding-top: 5px;
	font-size: 0.9em;
}
#content .vault-asset.office-post-single .new-form-field {
	margin: 10px 0;
}
#content .vault-asset.office-post-single .vault-note {
	width: 490px;
	display: inline-block;
	margin: 0;
}
#content .vault-asset.office-post-single .post-single-attachment {
	float: left;
	margin: 10px 10px 10px 0;
}
#content .vault-asset.office-post-single label {
	vertical-align: top;
}
#content .vault-asset.office-post-single .show-me-input {
	border-radius: 3px;
	border: 1px solid #2E9999;
	background: rgba(51,51,51,0.1);
	padding: 3px 5px;
	display: inline-block;
	height: 20px;
	font-size: 1.2em;
	width: 500px;
}
#content .vault-asset.office-post-single .show-me {
	border-radius: 3px;
	box-shadow: inset 0px -3px rgba(51,51,51,0.5);
	background: #2E9999;
	color: #ffffff;
	height: 20px;
	font-size: 1.2em;
	vertical-align: top;
	display: inline-block;
	padding: 1px 5px 6px 10px;
	margin-left: 10px;
	cursor: pointer;
}
#content .vault-asset.office-post-single .show-me:hover {
	height: 19px;
	margin-top: 1px;
	box-shadow: inset 0px -2px rgba(51,51,51,0.5);
	background: #FF4D4D;	
}
#content .vault-asset.office-post-single .show-me:before {
	padding-right: 5px;
	vertical-align: middle;
}
/* Dashboard */
#quicklinks {
	position: relative;
	float: left;
	width: 20%;
	box-sizing: border-box;
	font-family: "Oswald", "Open Sans", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
	padding: 0 0 10px 0px;
}
#quicklinks.quicklinks-again {
	width: 30% !important;
}
#quicklinks h2 {
	margin-left: 0;
}
#dashboard-lists {
	width: 80%;
	box-sizing: border-box;
	height: 100%;
	float:left;
	position: relative;
	padding-left: 20px;
}
#dashboard-lists .dashboard-half {
	width: 50%;
	box-sizing: border-box;
	float: left;
	padding: 0px 0px;
	margin-bottom: 20px;
}
#dashboard-lists h2 {
	margin-left: 0;
}
#dashboard-lists h2 a {
	color: #333333;
}
#dashboard-lists h2 a:hover {
	color: #FF4D4D;
}
#dashboard-lists .dashboard-half:first-child .office-post {
	margin-right: 20px;
}
#dashboard-lists .office-post .post-meta {
	margin: 25px 10px 0 0;
}
#dashboard-lists .office-post .tooltip {
	top: -44px;
}
#dashboard-lists .office-post .post-favorite .favorite-this-text {
	top: -44px;
	margin-left: -82.5px;
}
#dashboard-lists .office-post.high-priority .high-priority-alert {
	float: right;
	margin: 25px 10px 0 0;
	color: #A61919;
}
#dashboard-lists .office-post .post-due-bump-date {
	margin: 25px 10px 0 0;
}
#dashboard-lists .office-post .favorite-this-text:after,
#dashboard-lists .office-post .favorite-this-text:before {
	left: 85%;
}
/**/

/* Proile Page */
#profile-page .profile-left,
#profile-page .profile-right {
	width: 50%;
	box-sizing: border-box;
	margin: 0 0 20px 0;
	float:left;
}
#profile-page .profile-left {
	padding-right: 20px;
}
#profile-page .vacation-box .vacation-details {
	width: 145px;
	height: 100px;
	text-align: center;
	display: inline-block;
	margin: 5px 10px;
	border: 1px solid #858585;
	border-radius: 3px;
}
#profile-page .vacation-box .vacation-details span {
	display: block;
}
#profile-page .vacation-box .vacation-details .update-something-form {
	padding: 5px;
	height: auto;
}
#profile-page .update-something-form .vacation-box h3 {
	background: #333333;
	padding: 5px;
	border-radius: 3px;
}
#profile-page .vacation-box .vacation-details .update-something-form .delete-post {
	height: auto;
}
#profile-page .vacation-box .vacation-details .delete {
	float: left;
	margin-left: 25px;
	background: #FF4D4D;
	color: #ffffff;
	box-shadow: inset 0 -3px rgba(51,51,51,0.5);
	margin-top: 10px !important;
}
#profile-page .vacation-box .vacation-details .delete:hover {
	margin-top: 11px !important;
	height: 29px;
	box-shadow: inset 0 -2px rgba(51,51,51,0.5);
}

/* Admin Page */
#content #admin-page .office-post .post-meta {
	margin-top: 15px;
}
#content #admin-page .office-post .post-author img {
	width: 30px;
}

/* Calendar */
#calendar-page {
}
#calendar-page.inner-page {
	padding: 0;
}
.calendar-header {
	height: 30px;
	padding: 5px 0;
	box-sizing: border-box;
	position: relative;
	/*background: #d5d5d5;*/
	color: #333333;
	font-size: 0.9em;
}
.calendar-header .calendar-key {
	/*text-align: center;*/
	/*margin: 0 auto;*/
	float: left;
}
.calendar-header .key-desc {
	padding: 1px 2px 0;
	float: left;
	/*text-align: center;*/
	cursor: pointer;
	margin-right: 5px;
}
.calendar-header .key-desc .key-color.disabled {
	background: #a5a5a5 !important;
}
.calendar-header .key-color {
	display: inline-block;
	height: 12.5px;
	width: 12.5px;
	margin-right: 3px;
	border-radius: 3px;
}
.calendar-header .key-title {
	font-size:1em;
	display: inline-block;
}
.calendar-header .key-title:hover {
	color: #2E9999;
}
.calendar-days {
	width: 100%;
	height: 100%;
	margin: 0 auto;
}
.calendar-days .days-of-week {
	padding: 0 0;
	margin: 0px;
	/*width: 100%;*/
	font-size: 1.2em;
	height: 32px;
}
.calendar-days .days-of-week .day {
	width: 14.285714286%;
	box-sizing: border-box;
	margin: 0px;
	padding: 5px 0;
	background: #fafafa;
	float:left;
	display: block;
	text-align: center;
	/*box-shadow: inset -1px -1px 0 0 rgba(32,32,32,0.2);*/
	border-right: 1px solid #e5e5e5;
	border-bottom: 1px solid #e5e5e5;
}
.calendar-days .days-of-month {
	width: 100%;
	height: 100%;
}
.calendar-days .days-of-month .day {
	width: 14.285714286%;
	height: 20%;
	box-sizing: border-box;
	/*padding-top: 20px;*/
	padding: 1px 0;
	margin: 0px 0px 0;
	background: #fafafa;
	display: inline-block;
	/*box-shadow: inset -1px -1px 0 0 rgba(32,32,32,0.2);*/
	border-right: 1px solid #e5e5e5;
	border-bottom: 2px solid #e5e5e5;
	font-size: 1em;
	line-height: 1em;
	text-align: center;
	vertical-align: middle;
	cursor: context-menu;
	overflow: hidden;
}
.calendar-days .days-of-month .day:hover {
	/*box-shadow: inset -1px -1px 0 0 rgba(32,32,32,0.3);*/
	background: #d5d5d5;
}
.calendar-days .days-of-month .day .day-num {
	position: absolute;
	top: calc(50% - 31px);
	top: 2px;
	left: 0px;
	/*background: #fafafa;*/
	padding: 3px;
}
.calendar-days .days-of-month .today {
	/*box-shadow: inset -1px -1px 0 0 rgba(32,32,32,0.3);*/
	background: #d5d5d5;
}
.calendar-days .days-of-month .this-month {
	position: relative;
}
.calendar-days .days-of-month a.calendar-post-title {
	font-size: 0.9em;
	line-height: 1.5em;
	color: #ffffff;
	text-align:center;
	text-decoration: none;
	float:left;
	width: 100%;
	height:18px;
	margin: 1px 0 0;
}
.calendar-header .key-news,
.calendar-days .days-of-month a.calendar-post-title.news-article-link {
	border-top: 1px solid rgba(75,131,180,1);
	border-bottom: 1px solid rgba(75,131,180,1);
	background: rgba(75,131,180, 0.7);
}
.calendar-header .key-anniversary,
.calendar-days .days-of-month a.calendar-post-title.user-anniversary-link {
	border-top: 1px solid rgba(116,39,155,1);
	border-bottom: 1px solid rgba(116,39,155,1);
	background: rgba(116,39,155, 0.7);
}
.calendar-days .days-of-month a.calendar-post-title.user-anniversary-link:hover {
	text-decoration: none;
	cursor: context-menu;
}
.calendar-header .key-project,
.calendar-days .days-of-month a.calendar-post-title.projects-post-link {
	border-top: 1px solid rgba(255,117,55,1);
	border-bottom: 1px solid rgba(255,117,55,1);
	background: rgba(255,117,55,0.7);
}
.calendar-header .key-tasks,
.calendar-days .days-of-month a.calendar-post-title.user-tasks-link {
	border-top: 1px solid rgba(204,0,0,1);
	border-bottom: 1px solid rgba(204,0,0,1);
	background: rgba(204,0,0,0.7);
}
.calendar-header .key-vacations,
.calendar-days .days-of-month a.calendar-post-title.user-vacation-link {
	border-top: 1px solid rgba(46,153,153,1);
	border-bottom: 1px solid rgba(46,153,153,1);
	background: rgba(46,153,153,0.7);
}
.calendar-days .days-of-month a.calendar-post-title.user-vacation-link-end {
	padding-right:0px;
}
.calendar-days .days-of-month a.calendar-post-title.user-vacation-link:hover {
	text-decoration: none;
	cursor: context-menu;
}
.calendar-days .days-of-month a.calendar-post-title:hover {
	text-decoration: underline;
}
.calendar-days .days-of-month .last-month,
.calendar-days .days-of-month .next-month {
	opacity: 0.6;
	position:relative;
}
.calendar-days .days-of-month .last-month small,
.calendar-days .days-of-month .next-month small {
	font-size:0.4em;
	position: absolute;
	top:0px;
	right:5px;
}

/* 404 Page */
#fourOhFour-page {
	padding: 20px;
}
#fourOhFour-page p {
	margin: 10px auto;
	width: 300px;
	text-align: center;
	font-size:1.5em;
}
#fourOhFour-page span {
	margin: 10px auto;
	width: 300px;
	text-align: center;
	display: block;
	color: #888;	
}
#fourOhFour-page p.alert-icon span {
	font-size:8em;
	color: #FF4D4D;
}
#fourOhFour-page a:hover,
#fourOhFour-page a span:hover {
	text-decoration: none;
	color: #FF4D4D !important;
}
/* Footer */
#footer {
	display: block;
	clear:both;
	font-size:1.2em;
	width: 100%;
	box-sizing: border-box;
	height: 100%;
	padding: 10px 0px 10px 20px;
	background: #333333;
}
#footer .footer-text {
	color: #ffffff;
	letter-spacing: 0.0625em;
	padding:5px 1px 5px 0px;
}

/* Responsive Tweaks */
/* 996px:745px, 765px:475px, 475px:100% */
@media
	only screen and (max-width: 996px) {
		#nav_menu #menu_header ul#menu_links li.link {
			font-size:1em;
		}
	}
@media
	only screen and (max-width: 765px) {
		#nav_menu #menu_header ul#menu_links li.link span {
			display: none;
		}
		#menu_header ul#menu_links li.link span:before,
		#menu_header ul#menu_links li.link a:before {
			font-size:2.2em;
		}
	}
@media
	only screen and (max-width: 475px) {
		
}